.THIS#globalnav{
    background: #F3F5F8;
    /*height: 39px; 
     * width:100%; */
}
.THIS .header-profile {
    /*float:right;*/
    margin: 0;
    /*padding: 10px 0 0;*/
    text-align: right;
    display: inline-block;
    color: #959595;
    font-size: 15px;
   	width:100%;
}

.THIS .header-profile li {
    text-align: right;
    list-style-type: none;
    display: inline;
}

.THIS .header-profile .my-profile-link {
    color: #959595;
    padding-left: 20px;
}

.THIS .header-profile .my-profile-link:hover {
    /*background: transparent url(../borders/images/icon-desktop-globe.png) 0 no-repeat;*/
    /*padding-left: 20px;*/
    color: #009845;
    text-decoration: none;
}
	
.THIS .header-profile .logout-link {
    color: #959595;
    background: transparent url(https://qlik.portal.relayware.com//borders/images/icon-desktop-logon.png) 0 no-repeat;
    padding-left: 20px;
}
.THIS .header-profile .logout-link:hover {
    color: #009845;
    text-decoration: none;
}

.THIS .header-profile .xlfont{
	font-size: 18px;
	padding-right: 1.2em; 
}

.THIS .logo2 {
    /*height: 100%;
    display: block;
    position: relative;
    float: left;*/
    width: 27%
}
.THIS .download {
    /*height: 100%;
    display: block;
    position: relative;
    float: right;*/
    width: 72%
}

.THIS .container {
    /*display: flex;
    margin-left: 2em;
    margin-right: 2em;
    padding-left: 15px;
    padding-right: 15px;
    width: auto;*/
    display: flex;
    margin: 0 0.5em;
}

.THIS .btn-primary.btn-download {
    text-decoration: none;
    border: 1px solid rgb(0, 152, 69);
    float: right;
    margin: 15px 0 0 0;
    color: #fff;
    font-weight: 700;
    padding: .49rem .6rem;
    background: rgb(0, 152, 69);
    font-size: 0.95rem;
    font-family: arial, verdana, sans-serif;
}