<apex:page standardController="Quote__c" showHeader="true"> 
<script type="text/javascript"> 
function resizeFrame() 
{ 
var parentIFrame = document.getElementById('homepageComponentiFrameId'); 
if ( parentIFrame != null ) 
{ 
if ( document.body.clientHeight != null && document.body.clientHeight > 0 ) 
{ 
parentIFrame.height = document.body.clientHeight; 
parentIFrame.width = document.body.clientWidth+100; 
} 
else 
{ 
parentIFrame.height = document.height+"px"; 
parentIFrame.width = document.width+"0px"; 
} 
} 
} 
</script> 
As a part of Qliktech.Next deployments this page is not accessible. Please use the new quote functionality in the system.

<!--
<iframe onload="resizeFrame();" width="100%" height="500px" id="homepageComponentiFrameId" frameborder="0" scrolling="true" src="https://{!$Setup.RefreshSandbox__c.VFPageUrlValue__c}.webcomcpq.com/salesforce/SfLogin.aspx?sfauthUserID={!$User.Username}&apiPartnerURL={!$Api.Partner_Server_URL_160}&apiSessionID={!$Api.Session_ID}&domain_name=qliktech&apiPass=Password&action=Edit&sfqpOpportunityID={!Quote__c.Opportunity__c}&OwnerId={!CEILING(Quote__c.Owner_Id__c)}&QuoteId={!CEILING(Quote__c.Quote_Id__c)}"/>
-->
 </apex:page>