<apex:page controller="efAttendeePortalSessionController"
    showHeader="false"
    sidebar="false"
    action="{!checkInitialState}">
  <apex:includeScript value="{!URLFOR($Resource.q10portal, 'js/yahoo-dom-event.js')}" />
  <apex:includeScript value="{!URLFOR($Resource.q10portal, 'js/animation-min.js')}" />
  <apex:includeScript value="{!URLFOR($Resource.q10portal, 'js/container-min.js')}" />
  <apex:includeScript value="{!URLFOR($Resource.q10portal, 'aloha/js/util.js')}" />
  <apex:includeScript value="{!URLFOR($Resource.q10portal, 'js/balloon.js')}" />
  <apex:composition template="efTemplateAttendeePortal">
    <apex:define name="styless">
        <apex:stylesheet value="{!URLFOR($Resource.q10portal, 'yahoo-api-skin.css')}"/>
        <apex:stylesheet value="{!URLFOR($Resource.q10portal, 'home.css')}"/>
        <apex:stylesheet value="{!URLFOR($Resource.q10portal, 'aloha/css/sessions.css')}"/>
        <apex:stylesheet value="{!URLFOR($Resource.q10portal, 'aloha/css/util.css')}"/>
        <style>
            .criteriapanel table td.criteriatitle { color:#000000; }
            .tableHeader td { color:#2F7E20; }
            .msg1 { color:#000000; }
            .criteriapanel table td .checkboxes td { width:25%; }
            .contentCenter  { padding:0 0 0 5px; }
            .sessionlist { width:50%; }
            .topbar .button .overlay {
                background:transparent url({!URLFOR($Resource.q10portal, 'aloha/images/button_gray_big.png')}) no-repeat scroll 0 0;
            }
            .topbar .buttonselected .overlay {
                background:transparent url({!URLFOR($Resource.q10portal, 'aloha/images/button_red_big.png')}) no-repeat scroll 0 0;
            }
            .topbar .search {
                background:transparent url({!URLFOR($Resource.q10portal, 'aloha/images/button_keyword_gray.png')}) no-repeat;
            }
            .topbar .searchselected {
                background:transparent url({!URLFOR($Resource.q10portal, 'aloha/images/button_keyword_red.png')}) no-repeat;
            }
            .topbar .search .searchbox, .topbar .searchselected .searchbox {
                background-image:url({!URLFOR($Resource.q10portal, 'aloha/images/bk_searchbox.png')});
            }
            .criteriapanel .top {
                background:transparent url({!URLFOR($Resource.q10portal, 'aloha/images/blue_panel_top.png')}) no-repeat;
            }
            .criteriapanel .middle {
                background:transparent url({!URLFOR($Resource.q10portal, 'aloha/images/blue_panel_middle.png')}) repeat-y;
            }
            .criteriapanel .bottom {
                background:transparent url({!URLFOR($Resource.q10portal, 'aloha/images/blue_panel_bottom.png')}) no-repeat;
            }
            tr.selectedsessionrow {
                background: #F2F6F9 url({!URLFOR($Resource.q10portal, '/aloha/images/sidebar/arrowBlueRight.gif')}) no-repeat scroll center right;
            }
            .sessionlist table.skyblueShortHeader {
                background:transparent url({!URLFOR($Resource.q10portal, 'aloha/images/skyblue_table_header_short.png')}) no-repeat scroll 0 0;
            }
            .sessiondetail .top {
            background:transparent url({!URLFOR($Resource.q10portal, 'aloha/images/skyblue_panel_short_top.png')}) no-repeat scroll top left;
            }
            .sessiondetail .content {
                background:transparent url({!URLFOR($Resource.q10portal, 'aloha/images/skyblue_panel_short_middle.png')}) repeat-y scroll top left;
            }
            .sessiondetail .bottom {
                background:transparent url({!URLFOR($Resource.q10portal, 'aloha/images/skyblue_panel_short_bottom.png')}) no-repeat scroll top left;
            }
            .topbar .buttonselected .information, .topbar .button .information {
                background: #FFFFFF url({!URLFOR($Resource.q10portal, 'aloha/images/information_white.png')}) no-repeat scroll right bottom;
            }
            .topbar .search .information, .topbar .searchselected .information {
                background: #FFFFFF url({!URLFOR($Resource.q10portal, 'aloha/images/information_white.png')}) no-repeat scroll right bottom;
            }
            .yui-skin-sam .mask{
                background-color:#000000;
                filter: alpha(opacity=30);
            }
            .topbar .searchselected .toptext {
                color:#2F7E20;
            }
        </style>
    </apex:define>
    <apex:define name="banner">
        <apex:image id="theImage" url="{!eventBannerUrl}" style="vertical-align:top;"/>
    </apex:define>    
    <apex:define name="contentLeft">
      <c:efAttendeePortalNavigation currentSection="01p20000000POBB" showSessions="{!showSessions}" showActivities="{!showActivities}" registrationId="{!registrationId}" />
    </apex:define>
    <apex:define name="contentCenter">
        <apex:form id="mainForm">
            <div id="waitingPanel">
                <img src="/img/loading.gif" class="waitingImage" />
                <span class="waitingDescription">Loading...</span>
            </div>
            <script src="https://login.qlik.com/external/prm/javascripts/jquery-1.4.min.js" type="text/javascript"></script>
            <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"></script>
            <script>
                // Add the init method to the window.load event
                YAHOO.util.Event.addListener(window, "load", YAHOO.force.com.initSessions);
                YAHOO.util.Event.addListener(window, "load", YAHOO.force.com.initWaiting);

                var balloon = createClassBalloon("{!URLFOR($Resource.q10portal, 'images/balloons/balloon.png')}",
                "{!URLFOR($Resource.q10portal, 'images/balloons/balloon_ie.png')}",
                "{!URLFOR($Resource.q10portal, 'images/balloons/up_left.png')}",
                "{!URLFOR($Resource.q10portal, 'images/balloons/down_left.png')}",
                "{!URLFOR($Resource.q10portal, 'images/balloons/up_right.png')}",
                "{!URLFOR($Resource.q10portal, 'images/balloons/down_right.png')}",
                "{!URLFOR($Resource.q10portal, 'images/balloons/close.png')}");
            </script>
            
            
<!--QUERYSTRING CHECK for SESSION ID- MLN - FEB 28,2014-->
            
<apex:outputpanel rendered="{!NOT(ISNULL($CurrentPage.parameters.sessionID))}">
<style>
.sessionlist,.criteriapanel,.contentLeft, #j_id0\:j_id6\:theImage,#footer, a:nth-child(1) {display:none;}
.sessiondetail {float:left !important;}
body {background-color:#fff;}
.mainWrapper {margin:0;}
/*
#j_id0\:j_id6\:mainForm\:pseudoLink {display:none;}
*/
</style>        

<apex:commandLink styleClass="pseudoLink"
    action="{!selectSession}"
    onclick="YAHOO.force.com.waitingInit();"
    oncomplete="YAHOO.force.com.waitingEnd();document.getElementsByClassName('pseudoLink')[0].style.display='none';"
    rerender="listContainer"
    target="_self"
    immediate="true"
    id="pseudoLink">
Click here to load your selected track >>
<apex:param name="toggleId" assignTo="{!selectedSessionID}" value="{!$CurrentPage.parameters.sessionID}"/>
</apex:commandLink>

<script type="text/javascript">

/*
//document.write("<a id=\"pseudoLink\" target=\"_self\" onclick=\"YAHOO.force.com.waitingInit();;A4J.AJAX.Submit('j_id0:j_id6:mainForm',event,{'oncomplete':function(request,event,data){YAHOO.force.com.waitingEnd();},'similarityGroupingId':'j_id0:j_id6:mainForm:sessionRepeat:0:j_id125','parameters':{'j_id0:j_id6:mainForm:sessionRepeat:0:j_id125':'j_id0:j_id6:mainForm:sessionRepeat:0:j_id125','toggleId':'{!$CurrentPage.parameters.sessionID}'} } );return false;\" name=\"j_id0:j_id6:mainForm:sessionRepeat:0:j_id125\" id=\"j_id0:j_id6:mainForm:sessionRepeat:0:j_id125\" href=\"#\" class=\"fakeLink\" />");
window.onload=function(){document.getElementsByClassName('pseudoLink')[0].click();}
}
//var track = "{!$CurrentPage.parameters.track}"; 
//document.getElementById("{!$Component.mainForm.criteriaTrack}").selectedIndex = track;

https://c.eu1.visual.force.com/apex/efAttendeePortalSession?registrationId=a0nD0000004gAkGIAU&sessionID=a1KD0000001LGBLMA4
https://c.eu1.visual.force.com/apex/efAttendeePortalSession?registrationId=a0nD0000004gAkGIAU&track=a18D0000000KtYIIA0&date=04/08/2014
https://c.eu1.visual.force.com/apex/efAttendeePortalSession_mln?registrationId=a0nD0000004gAkGIAU&sessionID=a1KD0000001LGBnMAO
*/

</script>
                                                    
</apex:outputpanel>            
            <!-- REFINE CRITERIA PANEL -->
            <apex:outputPanel id="criteriaPanel"
                layout="block"
                styleClass="criteriapanel">
                <apex:outputPanel layout="block" styleClass="top"/>
                    <div class="middle">
                        <!-- TOP BUTTONS -->
                        <apex:outputPanel layout="block"
                                        styleClass="topbar"
                                        id="topfilterbar">
                            <apex:commandLink styleClass="button"
                                              action="{!seeAllSessions}"
                                              onclick="YAHOO.force.com.waitingInit();"
                                              oncomplete="YAHOO.force.com.waitingEnd();"
                                              rerender="listContainer,criteriaPanel"
                                              rendered="{!topFilter != 'None'}"
                                              immediate="true">
                                <apex:outputPanel styleClass="overlay"/>
                                <apex:outputPanel styleClass="toptext">Search by</apex:outputPanel>
                                <br/>
                                <apex:outputPanel styleClass="bottomtext">Track</apex:outputPanel>
                                <apex:outputPanel styleClass="information"
                                                    title="{!$Label.Session_Explanation_By_Track}"/>
                            </apex:commandLink>
                            <apex:commandLink styleClass="buttonselected"
                                              action="{!seeAllSessions}"
                                              onclick="YAHOO.force.com.waitingInit();"
                                              oncomplete="YAHOO.force.com.waitingEnd();"
                                              rerender="listContainer,criteriaPanel"
                                              rendered="{!topFilter = 'None'}"
                                              immediate="true">
                                <apex:outputPanel styleClass="toptext">Search by</apex:outputPanel>
                                <br/>
                                <apex:outputPanel styleClass="bottomtext">Track</apex:outputPanel>
                                <apex:outputPanel styleClass="overlay"/>
                                    <apex:outputPanel styleClass="information"
                                                        title="{!$Label.Session_Explanation_By_Track}"/>
                            </apex:commandLink>                             
                            <apex:commandLink styleClass="button"
                                              action="{!seeHighlightedSessions}"
                                              onclick="YAHOO.force.com.waitingInit();"
                                              oncomplete="YAHOO.force.com.waitingEnd();"
                                              rerender="listContainer,criteriaPanel"
                                              rendered="{!topFilter != 'Highlighted'}"
                                              immediate="true">
                                <apex:outputPanel styleClass="toptext">Highlighted</apex:outputPanel>
                                <br/>
                                <apex:outputPanel styleClass="bottomtext">Sessions</apex:outputPanel>
                                <apex:outputPanel styleClass="overlay"/>
                                <apex:outputPanel styleClass="information"
                                                    title="{!$Label.Session_Explanation_Highlighted}"/>
                            </apex:commandLink>
                            <apex:commandLink styleClass="buttonselected"
                                              action="{!seeHighlightedSessions}"
                                              onclick="YAHOO.force.com.waitingInit();"
                                              oncomplete="YAHOO.force.com.waitingEnd();"
                                              rerender="listContainer,criteriaPanel"
                                              rendered="{!topFilter = 'Highlighted'}"
                                              immediate="true">
                                <apex:outputPanel styleClass="toptext">Highlighted</apex:outputPanel>
                                <br/>
                                <apex:outputPanel styleClass="bottomtext">Sessions</apex:outputPanel>
                                <apex:outputPanel styleClass="overlay"/>
                                    <apex:outputPanel styleClass="information"
                                                title="{!$Label.Session_Explanation_Highlighted}"/>
                            </apex:commandLink>
                            <apex:outputPanel layout="block"
                                                styleClass="{!IF(topFilter = 'Keyword','searchselected','search')}">
                                <apex:outputPanel layout="block" styleClass="toptext">Search by</apex:outputPanel>
                                <apex:outputPanel layout="block" styleClass="bottomtext">Keyword</apex:outputPanel>
                                <apex:outputPanel layout="block" styleClass="information"
                                                    title="{!$Label.Session_Explanation_Keyword}"/>
                                <apex:outputPanel layout="block" styleClass="searchbox">
                                    <!-- agrassi - Do not remove this hidden field, is a fix for an IE bug -->
                                    <input id="ieFix" type="text" style="visibility:hidden; display: none;" disabled="disabled" size="1" />
                                    <apex:inputText id="searchKey" value="{!criteriaKeyword}"/>
                                </apex:outputPanel>
                                <apex:outputPanel layout="block" styleClass="searchbutton">
                                    <apex:commandButton image="{!URLFOR($Resource.q10portal, 'aloha/images/search_btn.png')}"
                                                        action="{!seeKeywordSessions}"
                                                        onclick="YAHOO.force.com.waitingInit();"
                                                        oncomplete="YAHOO.force.com.waitingEnd();"
                                                        rerender="listContainer,criteriaPanel"
                                                        />
                                </apex:outputPanel>
                            </apex:outputPanel>
                        </apex:outputPanel>
                        <!-- TOP BUTTONS END -->
                        <br clear="all"/>
                        <br/>
                        <apex:outputPanel layout="block" rendered="{!topFilter != 'Recommended'}">
                            <table>
                                <tr>
                                    <td class="criteriatitle">
                                        <apex:outputPanel rendered="{!topFilter != 'None'}">
                                            Refine
                                        </apex:outputPanel>
                                        <apex:outputPanel rendered="{!topFilter = 'None'}">
                                            Advanced
                                        </apex:outputPanel>
                                            Search
                                    </td>
                                    <td class="label">
                                        Track
                                    </td>
                                    <td class="value" colspan="2">
                                        <apex:selectList id="criteriaTrack" size="1" value="{!criteriaTrack}">
                                            <apex:selectOptions value="{!criteriaTrackList}"/>
                                        </apex:selectList>
                                    </td>
                                    <td class="value">
                                        &nbsp;
                                    </td>
                                </tr>
                                <tr>
                                    <td class="criteriatitle">
                                    </td>
                                    <td class="label">
                                        Dates
                                    </td>
                                    <td colspan="2">
                                        <apex:selectList size="5" id="criteriaDates" value="{!criteriaDates}" multiselect="true">
                                            <apex:selectOptions value="{!criteriaDateList}"/>
                                        </apex:selectList>                                                              
                                        <!-- <apex:selectCheckboxes value="{!criteriaDates}" styleClass="checkboxes">
                                            <apex:selectOptions value="{!criteriaDateList}"/>
                                        </apex:selectCheckboxes> -->
                                    </td>
                                    <td class="applyButton">
                                        <apex:commandButton id="searchButton" image="{!URLFOR($Resource.q10portal, 'images/template/button-search.gif')}"
                                                            action="{!applyCriteria}"
                                                            onclick="YAHOO.force.com.waitingInit();"
                                                            oncomplete="YAHOO.force.com.waitingEnd();"
                                                            rerender="listContainer"/>
                                    </td>
                                </tr>
                            </table>
                        </apex:outputPanel>
                        <apex:outputPanel layout="block"
                                            rendered="{!topFilter = 'Recommended'}">
                            <table>
                                <tr>
                                    <td class="criteriatitle">
                                        Refine Search
                                    </td>
                                    <td class="label">
                                        Dates
                                    </td>
                                    <td class="value" colspan="2">
                                        <apex:selectCheckboxes value="{!criteriaDates}" styleClass="checkboxes">
                                            <apex:selectOptions value="{!criteriaDateList}"/>
                                        </apex:selectCheckboxes>
                                    </td>
                                    <td class="value">
                                        <apex:commandButton image="{!URLFOR($Resource.q10portal, 'images/template/button-search.gif')}"
                                                            action="{!applyCriteria}"
                                                            onclick="YAHOO.force.com.waitingInit();"
                                                            oncomplete="YAHOO.force.com.waitingEnd();"
                                                            rerender="listContainer"/>
                                    </td>
                                </tr>
                            </table>
                        </apex:outputPanel>
                    </div>
                    <apex:outputPanel layout="block" styleClass="bottom"/>
                </apex:outputPanel>
                <!-- REFINE CRITERIA PANEL END -->
                <apex:outputPanel layout="block" id="listContainer" styleClass="sessionsDiv">
                    <div class="sessionlist">
                        <apex:outputPanel id="sessionTable" rendered="{!AND(OR(topFilter != 'None', criteriaTrack != ''),OR(topFilter != 'Keyword', isValidKeyword))}">
                            <!-- PAGINATION -->
                            <apex:outputPanel rendered="{!totalSessionCount > 0}">
                                <table class="controlTable" >
                                    <tr>
                                        <td class="legend">
                                            <div class="leftLegend">
                                                <apex:image styleClass="sessionicon" value="{!URLFOR($Resource.q10portal, 'images/icons/exclamation.gif')}" />
                                                <span class="legend">at full capacity</span>
                                                <apex:image styleClass="sessionicon"
                                                            style="margin-left: 10px;"
                                                            value="{!URLFOR($Resource.q10portal, 'images/template/calendar.gif')}" />
                                                <span class="legend">added to my calendar</span>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="pagination">
                                            <apex:outputPanel rendered="{!AND(showPageList, NOT(isFirstPage))}">
                                                <apex:commandLink action="{!previousPage}"
                                                                onclick="YAHOO.force.com.waitingInit();"
                                                                oncomplete="YAHOO.force.com.waitingEnd();"
                                                                rerender="sessionTable,rightPanel"
                                                                title="Previous page">
                                                  &lt; PREV |
                                                </apex:commandLink>
                                            </apex:outputPanel>
                                            Showing {!currentPage.startNum} - {!currentPage.endNum} of {!totalSessionCount} sessions
                                            <apex:outputPanel rendered="{!AND(showPageList, NOT(isLastPage))}">
                                                <apex:commandLink action="{!nextPage}"
                                                    onclick="YAHOO.force.com.waitingInit();"
                                                    oncomplete="YAHOO.force.com.waitingEnd();"
                                                    rerender="sessionTable,rightPanel"
                                                    title="Next page">
                                                  | NEXT &gt;
                                                </apex:commandLink>
                                            </apex:outputPanel>
                                        </td>
                                    </tr>
                                </table>
                            </apex:outputPanel>
                    <!-- PAGINATION ENDS -->
                    <!-- SESSION LIST -->
                            <apex:outputPanel id="sessionList" rendered="{!totalSessionCount > 0}">
                                <table class="sessionsTable controlTable skyblueShortHeader" id="sessionsTable">
                                    <tr id ="headerRow"  class="tableHeader">
                                        <td>
                                            <apex:commandLink action="{!sortByName}"
                                                              onclick="YAHOO.force.com.waitingInit();"
                                                              oncomplete="YAHOO.force.com.waitingEnd();"
                                                              rerender="sessionTable"
                                                              immediate="true">
                                                            Name
                                            </apex:commandLink>
                                            <apex:image alt="SortOrder"
                                                            styleClass="imgVert"
                                                            id="SrtImgNameAsc"
                                                            rendered="{!sortBy = 'Name'}"
                                                            value="{!URLFOR($Resource.q10portal, 'images/template/arrow-blue-Up.gif')}" />
                                        </td>
                                        <td class="sortCol">
                                            <apex:commandLink action="{!sortByDate}"
                                                              onclick="YAHOO.force.com.waitingInit();"
                                                              oncomplete="YAHOO.force.com.waitingEnd();"
                                                              rerender="sessionTable"
                                                              immediate="true">
                                                            Date
                                            </apex:commandLink>
                                            <apex:image alt="SortOrder"
                                                          styleClass="imgVert"
                                                          id="SrtImgDateAsc"
                                                          rendered="{!SortBy = 'Date'}"
                                                          value="{!URLFOR($Resource.q10portal, 'images/template/arrow-blue-Up.gif')}" />
                                        </td>
                                    </tr>
                                    <apex:repeat value="{!pageSessions}" var="session" id="sessionRepeat"  >
                                        <tr class="{!IF(session.isSelected,'selectedsessionrow','sessionrow')}">
                                            <td>
                                                <apex:image title="Session Not Available"
                                                            styleClass="sessionicon"
                                                            rendered="{!session.isSessionFull}"
                                                            value="{!URLFOR($Resource.q10portal, 'images/icons/exclamation.gif')}" />
                                                <apex:image title="You're enrolled to this session"
                                                            styleClass="sessionicon"
                                                            rendered="{!IF(session.isAddedToSchedule,true,false)}"
                                                            value="{!URLFOR($Resource.q10portal, 'images/template/calendar.gif')}" />
                                                <strong>


<!--IF NO SESSIONID PARAMETER-->
                                                <apex:commandLink styleClass="fakeLink"
                                                                      action="{!selectSession}"
                                                                      onclick="YAHOO.force.com.waitingInit();"
                                                                      oncomplete="YAHOO.force.com.waitingEnd();"
                                                                      rerender="listContainer"
                                                                      target="_self"
                                                                      immediate="true">
                                                                    {!session.SessionName}

                                                <apex:param name="toggleId" assignTo="{!selectedSessionID}" value="{!session.Sid}"/>
                                                    </apex:commandLink>
<!--IF YES SESSIONID PARAMETER-->                                                   


                                                </strong>
                                                <br/>
                                                <span class="trackname">{!session.TrackName}</span>
                                            </td>
                                            <td>
                                                <apex:outputText value="{!session.SessionDate}"/>&nbsp;
                                            </td>
                                        </tr>
                                    </apex:repeat>
                                </table>
                            </apex:outputPanel>
                            <!-- SESSION LIST ENDS -->
                            <!-- PAGINATION -->
                            <apex:outputPanel rendered="{!totalSessionCount > 0}">
                                <table class="controlTable" >
                                    <tr>
                                        <td class="pagination">
                                            <apex:outputPanel rendered="{!AND(showPageList, NOT(isFirstPage))}">
                                                <apex:commandLink action="{!previousPage}"
                                                                onclick="YAHOO.force.com.waitingInit();"
                                                                oncomplete="YAHOO.force.com.waitingEnd();"
                                                                rerender="sessionTable,rightPanel"
                                                                title="Previous page">
                                                          &lt; PREV |
                                                </apex:commandLink>
                                            </apex:outputPanel>
                                            Showing {!currentPage.startNum} - {!currentPage.endNum} of {!totalSessionCount} sessions
                                            <apex:outputPanel rendered="{!AND(showPageList, NOT(isLastPage))}">
                                                <apex:commandLink action="{!nextPage}"
                                                                onclick="YAHOO.force.com.waitingInit();"
                                                                oncomplete="YAHOO.force.com.waitingEnd();"
                                                                rerender="sessionTable,rightPanel"
                                                                title="Next page">
                                                              | NEXT &gt;
                                                </apex:commandLink>
                                            </apex:outputPanel>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="legend">
                                            <div class="leftLegend">
                                                <apex:image styleClass="sessionicon"
                                                        value="{!URLFOR($Resource.q10portal, 'images/icons/exclamation.gif')}" />
                                                <span class="legend">at full capacity</span>
                                                <apex:image styleClass="sessionicon"
                                                        style="margin-left: 10px;"
                                                        value="{!URLFOR($Resource.q10portal, 'images/template/calendar.gif')}" />
                                                <span class="legend">added to my calendar</span>
                                            </div>
                                        </td>
                                    </tr>
                                </table>
                            </apex:outputPanel>
              <!-- PAGINATION ENDS -->
              <!-- NO SESSIONS -->
                            <apex:outputPanel layout="block"
                                                rendered="{!totalSessionCount = 0}">
                                <table class="sessionsTable controlTable skyblueShortHeader">
                                    <tr id ="headerRow"  class="tableHeader">
                                        <td>
                                            Name
                                        </td>
                                        <td class="sortCol">
                                            Date
                                        </td>
                                    </tr>
                                    <tr class="messagerow">
                                        <td colspan="2" class="msg1" >
                                            <strong>No match found.</strong>
                                        </td>
                                    </tr>
                                </table>
                            </apex:outputPanel>
                            <!-- NO SESSIONS ENDS -->
                         </apex:outputPanel>
         <!-- Search by track with no track -->
                         <apex:outputPanel layout="block"
                                           rendered="{!AND(topFilter = 'None', criteriaTrack = '')}">
                            <table class="sessionsTable controlTable skyblueShortHeader">
                                <tr id ="headerRow"  class="tableHeader">
                                    <td>
                                        Name
                                    </td>
                                    <td class="sortCol">
                                        Date
                                    </td>
                                </tr>
                                <tr class="messagerow">
                                    <td colspan="2" class="msg1" >
                                        <strong>Please choose a track.</strong>
                                    </td>
                                </tr>
                            </table>
                        </apex:outputPanel>
        <!-- Search by track with no track ends -->
        <!-- Search by keyword, invalid keyword -->
                        <apex:outputPanel layout="block"
                                            rendered="{!AND(topFilter = 'Keyword', NOT(isValidKeyword))}">
                            <table class="sessionsTable controlTable skyblueShortHeader">
                                <tr id ="headerRow"  class="tableHeader">
                                    <td>
                                        Name
                                    </td>
                                    <td class="sortCol">
                                        Date
                                    </td>
                                </tr>
                                <tr class="errorrow">
                                    <td colspan="2" class="msg1" >
                                        <strong>
                                          The search keyword should have<br/>
                                          at least three characters, excluding '%'
                                        </strong>
                                    </td>
                                </tr>
                            </table>
                        </apex:outputPanel>
                        <!-- Search by keyword, invalid keyword ends -->
                    </div>
    <!-- SESSION LIST SECTION END -->
    
    

    <!-- SESSION DETAILS -->
                    <apex:outputPanel id="sessionDetails"
                                      layout="block"
                                      rendered="{!NOT(ISNULL(selectedSession))}"
                                      styleClass="{!IF(ISNULL(selectedSession),'sessiondetailempty','sessiondetail')}">
                        <div class="top"></div>
                        <apex:outputPanel id="fbSessionInfoContainer"
                                            layout="block"
                                            styleClass="content">
                            <div>
                                <div id="fbCheckboxContainer">
                                    <div class="name">
                                        {!selectedSession.sessionName}
                                    </div>
                                </div>
                                <div id="ie6Message" class="addButton" style="display:none;">
                                    {!$Label.Sessions_IE6}
                                </div>
                                <div class="notePadLine"></div> 
                                <div class="title">
                                    <center>
                                        <apex:outputPanel rendered="{!NOT(OR(selectedSessionEnrolled,selectedSessionConflict,selectedSession.isSessionFull))}">
                                            <apex:commandButton value="Register" title="Register to this session" onclick="YAHOO.force.com.waitingInit();"
                                                                    oncomplete="YAHOO.force.com.waitingEnd();fbOpenCommentWindow('{!selectedSession.escapedName}');"
                                                                    action="{!createSessionAttendance}"
                                                                    rerender="listContainer"
                                                                    styleClass="button-submit"
                                                                    image="{!URLFOR($Resource.q10portal, 'images/template/button-addto-my-calendar.gif')}"
                                                                    immediate="true"/>
                                            <br/>
                                            <apex:outputPanel styleClass="register">
                                                Add this session to My Event Calendar
                                            </apex:outputPanel>
                                        </apex:outputPanel>
                                        <apex:outputPanel rendered="{!OR(selectedSessionEnrolled,selectedSessionConflict)}">
                                            <apex:outputPanel rendered="{!selectedSessionEnrolled}">
                                                <apex:outputText value="You are registered to this Session" style="color:#FF1100;"/>
                                                <br/>
                                                <small>
                                                    <a target="_self" href="/apex/efAttendeePortalCalendar?registrationId={!registrationId}">View on My Event Calendar</a>
                                                </small>
                                                <br/>
                                            </apex:outputPanel>                                         
                                            <apex:outputPanel rendered="{!AND(NOT(selectedSessionEnrolled),selectedSessionConflict)}">
                                                <apex:outputText value="You have already registered for a session in same time slot" style="color:#FF1100;"/>
                                                <br/>
                                            </apex:outputPanel>
                                        </apex:outputPanel>
                                        <apex:outputPanel rendered="{!AND(NOT(selectedSessionEnrolled),selectedSession.isSessionFull)}">
                                            Session at full capacity
                                        </apex:outputPanel>
                                    </center>
                                </div>
                                <div class="notePadLine"></div>
                                <div class="abstract">
                                    {!selectedSession.SDescription}<br/>
                                </div>
                                <table class="detailtable">
                                    <tr>
                                        <td class="label">
                                            Track
                                        </td>
                                        <td class="value">
                                            {!selectedSession.trackName}<br/>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="label">
                                            Speakers
                                        </td>
                                        <td class="value">
                                            {!selectedSession.speakerNames}<br/>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="label">
                                            Room
                                        </td>
                                        <td class="value">
                                            {!selectedSession.room}<br/>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="label">
                                            Start Date
                                        </td>
                                        <td class="value">
                                            {!selectedSession.sessionDate}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="label">
                                            End Date
                                        </td>
                                        <td class="value">
                                            {!selectedSession.sessionEndDate}
                                        </td>
                                    </tr>
                                </table>
                            </div>
                            <div class="bottomButton"></div>
                        </apex:outputPanel>
                        <div class="bottom"></div>
                    </apex:outputPanel>
                    <!-- SESSION DETAILS END -->
                    
                    
                    
                </apex:outputPanel>
            </apex:form>
        </apex:define>
    </apex:composition>
</apex:page>