<!----------------------------------------------------------------------------------------------------------
Purpose: Partner Expertise List Page
Created Date: 13 Nov 2015
13 Nov 2015 MTM: Nov 2015
Change log:    
-------------------------------------------------------------------------------------------------------------->
<apex:page cache="false" sidebar="false" controller="EP_PartnerExpertiseController">
        <!--apex:stylesheet value="{!URLFOR($Resource.JQuerydataTableCSS)}" />
        <apex:includeScript value="{!URLFOR($Resource.JQueryJavaScript)}"/>
        <apex:includeScript value="{!URLFOR($Resource.JQuerydataTableJS)}"/-->
    <apex:includescript value="https://login.qlik.com/external/prm/css/partnerportal.css"/>
    <apex:composition template="EP_PageTemplate">
        <apex:messages />        
           <apex:define name="body">
               <div>
                   <div class="clearfix">
                       <div class="nowrap">
                           <apex:outputLink styleClass="stepBreadcrum" value="/apex/QlikExpertiseProgram">{!$Label.QVM_PB_Preview_Return_to_Expertise_Program}</apex:outputLink>
                       </div>
                   	</div>
                   <c:EP_PartnerExpertiseListComponent includeUnderReview="false"/>
               </div>               
           </apex:define>      
    </apex:composition>
</apex:page>
<!--apex:page id="pepage2" sidebar="false" showHeader="false" controller="EP_PartnerExpertiseController">    
    <head>
        <apex:includescript value="//code.jquery.com/jquery-1.11.1.min.js" />
		<apex:includescript value="//cdn.datatables.net/1.10.4/js/jquery.dataTables.min.js" />
		<apex:stylesheet value="//cdn.datatables.net/1.10.4/css/jquery.dataTables.css" />

        <script type="text/javascript">
            var jqEnv 
            if(typeof $ === 'undefined')
                jqEnv = jQuery.noConflict();  
            else
                jqEnv = $.noConflict();
            jqEnv(document).ready(function () {
                RefreshTable();

            });

            function RefreshTable() {
                var expertiseTable = jqEnv("#expertiseTable").DataTable({                            
                });
            }
        </script>
      </head>
      <body>
			<div>
            
            <table id="expertiseTable" class="display">            
                <thead>
                    <tr>
                        <th>Expertise Area</th>
                        <th>Apply Date</th>
                        <th>Dedicated Expertise Contact</th>
                        <th>Expertise Start Date</th>
                        <th>Eligibility</th>
                    </tr>
                </thead>
                <tbody>
                    <apex:repeat value="{!ListExpertiseArea}" var="lea">
                        <tr>
                            <td><apex:outputlink value="/apex/EP_SolutionProfilePage?&expertId={!lea.Id}&acc={!AccountId}&stepNumber=1" styleClass="litebluearrow">{!lea.Expertise_Area__c}</apex:outputlink></td>                            
                            <td>{!lea.Apply_Date__c}</td>
                            <td>{!lea.Dedicated_Expertise_Contact__r.Name}</td>
                            <td>{!lea.Expertise_Start_Date__c}</td>
                            <td>{!lea.Expertise_Application_Eligibility__c}</td>
                        </tr>
                    </apex:repeat>
                </tbody>
            </table>
         </div>
   </body>
</apex:page-->