<!----------------------------------------------------------------------------------------------------------
Purpose: Partner Expertise Solution profile Page
Created Date: 10 May 2015
Initial delvelpment MTM 10 May 2015
Change log:

-------------------------------------------------------------------------------------------------------------->
<apex:page standardStylesheets="false" sidebar="false" cache="false">
    <apex:composition template="EP_PageTemplate">
        <apex:messages />        
           <apex:define name="body">
               <apex:form >
               <div>
                   <c:EP_SolutionProfile />
               </div>
               <div class="nowrap"> 
                <apex:outputPanel >
                            <c:EP_ApplicationProgressBar />
                </apex:outputPanel>    
               </div>
               </apex:form>
           </apex:define>      
    </apex:composition>
</apex:page>
<!--apex:page id="pageId1" tabstyle="ppQonnect__tab" sidebar="false" >
    <link rel="stylesheet" href="https://login.qlik.com/external/prm/css/screen.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="https://login.qlik.com/external/prm/css/partnerportal.css" type="text/css" media="screen" />
    <apex:form id="productForm" styleClass="productForm">
        <div id="main">
            <div class="clearfix">
                    
                <div id="sidebar">

                     <div class="module m1">
                        <div class="module m2">
                            <div class="module m3">
                                <ul class="sidenav">
                                    <li><apex:outputlink styleClass="topa" value="ppQonnectProgramPage?SubPage=QonnectPartnerships">Partnerships</apex:outputlink></li>
                                    <li><apex:outputlink styleClass="topa" value="ppQonnectProgramPage?SubPage=QonnectPrograms">Partner Programs</apex:outputlink></li>
                                    <li><apex:outputlink styleClass="topa" value="ppQonnectProgramPage?SubPage=Qonnections">Qonnections</apex:outputlink></li>
                                    <li><apex:outputlink styleClass="topa" value="ppQonnectProgramPage?SubPage=PEP">Expertise Program</apex:outputlink></li>
                                    <li><apex:outputlink styleClass="topa" value="ppQonnectProgramPage?SubPage=ChangeWorld">Change Our World</apex:outputlink></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                <div class="module m1">
                        <div class="module m2">
                            <div class="module m3 searchmodule">
                                <h3>Search Salesforce</h3>
                                <div class="clearfix p6">
                                <c:SearchComponent />   
                                </div>
                            </div>
                        </div>
                    </div>
                

                    <div class="module m1">
                        <div class="module m2">
                          <div class="module m3 searchmodule">
                                <h3>Search Partner Library</h3>
                                <div class="clearfix p6">
                                    <c:SearchContent /> 
                                    <a href="/sfc/#search" class="advancedsearch">View All Content</a>   
                                </div>
                            </div>
                        </div>
                    </div>


                </div>


                <div id="detail">
                    <div class="detailLeft">
                        <div class="detailRight">
                            <div class="clearfix">

                                <div class="nowrap"> 
                                    <apex:outputPanel id="panel1">
                                                <c:EP_SolutionProfile id="comp" eId=""/>
                                    </apex:outputPanel>    
                                </div>
                                
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </apex:form>
</apex:page-->