<apex:page controller="List_Account_AccountLicense_Controller">

<apex:pageBlock title="Account Licenses">

    <table class="list">
    <tr class="headerRow">
        <th>License Number</th>
        <th>Application</th>
        <th>Version</th>
        <th>Support From</th>
        <th>Support To</th>     
    </tr>
    
    <apex:repeat var="lic" value="{!MyAccountLicenses}">
        <tr>
            <td><a href="{!URL}/apex/ViewAccountLicense?id={!lic.ID}">{!lic.Name}</a></td> 
            <td>{!lic.Application__c}</td>
            <td>{!lic.Version__c}</td>
            <td>{!DAY(lic.Support_From__c)}/{!MONTH(lic.Support_From__c)}/{!YEAR(lic.Support_From__c)}</td>
            <td>{!DAY(lic.Support_To__c)}/{!MONTH(lic.Support_To__c)}/{!YEAR(lic.Support_To__c)}</td>
        </tr>
    </apex:repeat>
    </table>

</apex:pageBlock>

</apex:page>