<!-- --------------------------------------------------------------------------------------------------------
Purpose: Qlik Sales live chat-implementation
10-19-2012 PGE updated code submitted from our agency Active Ingredients
10-25-2012 MLN updated code submitted from our agency Active Ingredients
10-21-2014 PGE updated code
04-18-2018 BSL-57 Live chat: Agent-facing interface improvements- attach and send files
05-22-2018 BSL-403 Button CSS fixes
09-19-2019 IT-1958 - CIZ - Changed the design of some elements
------------------------------------------------------------------------------------------------------------ -->

<apex:page showHeader="false">
    <style>
        body {
            overflow: hidden;
            width: 100%;
            height: 100%;
            padding: 0;
            margin: 0;
            background-color: #f1f1f1;
        }

        #waitingMessage {
            height: 100%;
            width: 100%;
            vertical-align: middle;
            text-align: center;
            display: none;
        }

        #liveAgentClientChat.liveAgentStateWaiting #waitingMessage {
            display: table;
        }
        #liveAgentSaveButton, #liveAgentEndButton {
            background: rgb(0, 152, 69);
            color: #ffffff;
        }

        .liveAgentEndButton {
            background: rgb(0, 152, 69);
            color: #ffffff;
        }

        #fileCancelButton {
            display: inline;
            width: 70px;
            height: 25px;
            background: linear-gradient(to bottom, #81be21 0%, #549b13 100%);
            color: #ffffff;
        }

        #liveAgentFileTransfer {
            z-index: 2;
        }

        #fileDragLink {
            color: #2cc124;
        }

        .liveAgentFileDragArea {
            position: relative;
        }

        #fileSendButton {
            display: inline;
            width: 70px;
            height: 25px;
            background: linear-gradient(to bottom, #81be21 0%, #549b13 100%);
            color: #ffffff;
        }

        .liveAgentChatInput {
            height: 25px;
            border-width: 1px;
            border-style: solid;
            border-color: #b5b5b5;
            padding: 2px 0 2px 4px;
            background: #fff;
            display: block;
            width: 99%;
        }

        .liveAgentSendButton {
            display: block;
            width: 60px;
            height: 31px;
            padding: 0 0 3px;
            position: absolute;
            top: 0;
            right: -67px;
            background: rgb(0, 152, 69);
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#81be21', endColorstr='#549b13', GradientType=0);
            color: #ffffff;
        }

        #liveAgentChatLog {
            width: auto;
            height: auto;
            top: 0px;
            position: absolute;
            overflow-y: auto;
            left: 0;
            right: 0;
            bottom: 0;
            border-width: 1px;
            border-style: solid;
            border-color: #f1f1f1;
            background-color: #fdfdfd;
            margin-top: 7px;
            padding-top: 3px;
        }

        #liveAgentChatLog .operator,
        #liveAgentChatLog .client,
        #liveAgentChatLog .system {
            color: #636363;
            display: block;
            margin: 0 0 5px;
            font-size: 1.25em;
            line-height: 1.5em;
        }

        #liveAgentChatLog .operator strong {
            color: #636363;
            margin-left: 3px;
        }

        #liveAgentChatLog .client strong {
            color: #67aa19;
            margin-left: 3px;
        }
    </style>
    <div style="top: 0; left: 0; right: 0; bottom: 0; position: absolute;">
        <liveAgent:clientchat >
            <liveAgent:clientChatFileTransfer />
            <div style="margin:3px; float:right; height:30px;">
                <liveAgent:clientChatSaveButton label="Save Chat"/>
                <liveAgent:clientChatEndButton label="End Chat"/>
            </div>
            <div style="top: 25px; left: 5px; right: 5px; bottom: 5px; position: absolute; z-index: 0;">
                <liveAgent:clientChatAlertMessage />
                <liveAgent:clientChatStatusMessage />
                <table id="waitingMessage" cellpadding="0" cellspacing="0"  style="height: 300px;">
                    <tr>
                        <td>
                            <div align="center"><img src="http://qvfiles.s3.amazonaws.com/images/QlikLogo.png"
                                                     border="0" style="width: 150px; height: 44px;"/></div>
                            <br/>
                            <p style="color:#666;">Please wait while we connect you with our next available agent.</p>
                        </td>
                    </tr>
                </table>
                <div style="top: 0; right: 0; bottom: 41px; left: 0; padding: 0; position: absolute; word-wrap: break-word; z-index: 0;">
                    <liveAgent:clientChatLog />
                </div>
                <div style="position: absolute; height: auto; right: 0; bottom: 0; left: 0; margin-right: 67px;">
                    <liveagent:clientChatInput />
                    <liveAgent:clientChatSendButton label="Send"/>
                </div>
            </div>

        </liveAgent:clientchat>
    </div>
</apex:page>