<!-- 

	Page: multiEdit_EventsPlan
	
	Changelog:
        2013-04-24  CCE     Initial development. CR# 7927 - Rework of Account Plan feature and functionality
                            https://eu1.salesforce.com/a0CD000000YFNC8.

 -->
<apex:page standardController="Event_Plan__c" extensions="multiEdit_EventsPlan_Controller">
   <apex:form > 
      <apex:pageBlock > 
         <apex:pageMessages /> 
         <apex:pageBlockButtons > 
            <apex:commandButton value="Save" action="{!SaveSet}"/>
            <apex:commandButton value="Save & Add" action="{!QuickSaveSet}"/>
            <apex:commandButton value="Cancel" action="{!CancelSet}"/>
         </apex:pageBlockButtons>
         <apex:pageBlockTable value="{!EventsPlans}" var="obj"> 
            <apex:column headerValue="Event"> 
               <apex:inputField value="{!obj.Name}"/> 
            </apex:column> 
            <apex:column headerValue="Sales Objective"> 
               <apex:inputField value="{!obj.Sales_Objective__c}"/> 
            </apex:column> 
            <apex:column headerValue="Customer Owner"> 
               <apex:inputField value="{!obj.Customer_Owner__c}"/> 
            </apex:column> 
            <apex:column headerValue="QlikTech Owner"> 
               <apex:inputField value="{!obj.QlikTech_Owner__c}"/> 
            </apex:column> 
            <apex:column headerValue="Date Planned"> 
               <apex:inputField value="{!obj.Date_Planned__c}"/> 
            </apex:column> 
            <apex:column headerValue="Date Completed"> 
               <apex:inputField value="{!obj.Date_Completed__c}"/>
            </apex:column>
         </apex:pageBlockTable>       
      </apex:pageBlock> 
   </apex:form> 
</apex:page>