<!---------------------------------------------------

    Page: OpportunityAlertMessage

    This page is used to display alert message on opportunity page if OEM subscription term/date changed
    Subscription_Changed__c is set on process builder
    Changelog:
        2017-05-23  MTM     Created file

---------------------------------------------->
<apex:page showheader="false" sidebar="false" standardcontroller="Opportunity" tabstyle="Opportunity"
           standardstylesheets="true">
    <apex:includescript value="../../soap/ajax/38.0/connection.js" />
    <apex:includescript value="../../soap/ajax/38.0/apex.js" />
    <script>
    if({!Opportunity.Subscription_Changed__c} == true)
    {
        var opp = new sforce.SObject("Opportunity");
        opp.Id = '{!Opportunity.Id}';
        opp.Subscription_Changed__c = false;
        sforce.connection.update([opp]);
        alert("The Subscription Start Date and/or No of Subscription Units have been updated. Please open the Primary quote record and refresh the page to apply the changes");
    }
    </script>
</apex:page>