<apex:page standardController="Opportunity" sidebar="true" title="Search References">
 
<style>
#bodyCell {padding:0 !important;}
</style> 
 
<!--on iframe page (parent)-->
<script>
        /*
         * BEGIN IFRAME RESIZE
         */
        
        function receiveSize(e){
            var i = 0 + 2;  
                resizeIframe(e.data);
        }

        function resizeIframe(height) {
            // "+60" is a general rule of thumb to allow for differences in
            // IE & and FF height reporting, can be adjusted as required..
            document.getElementById('BLiFrame').height = parseInt(height)+60;
        }

        // We do a hack so that this can run on IE 7/8 with window.attachEvent
        if (window.addEventListener) {
            window.addEventListener("message", receiveSize, false);
        } else if (window.attachEvent) {
            window.attachEvent("onmessage", receiveSize, false);
        }

        /*
         * END IFRAME RESIZE
         */ 

</script> 

<apex:iframe id="BLiFrame" src="https://www.boulderlogic.com/reference/myboulder.aspx?sid={!$Api.Session_ID}&surl={!$Api.Enterprise_Server_URL_110}&dest=BL_FND_REF&op={!Opportunity.Id}&partnerApiUrl={!$Api.Partner_Server_URL_130}&blns=BL" height="700" frameborder="0" scrolling="true" />

</apex:page>