<apex:page standardController="Account" extensions="PPLicenseFromAccount" >
<style>
.fewerMore { display: none;}
</style>
    <apex:form >
    <!--<apex:detail relatedList="true"></apex:detail>-->
    <apex:outputPanel layout="block" id="theBlock" style="overflow:auto;height:200px">
      <apex:pageBlock id="LicId" mode="edit">
            <apex:pageBlockTable value="{!Lics1}" var="c" >
                <apex:column headerValue="Product Name"> <a href="{!$Setup.QS_Partner_Portal_Urls__c.Support_Portal_Url__c}QS_LicenseDetailsPage?LicId={!c.ID}" target="_">{!c.Name}</a> </apex:column>
                
                <apex:column value="{!c.Description__c}"/>
                <apex:column value="{!c.StartDate}"/>
                 <apex:column value="{!c.EndDate}"/>
                  <apex:column value="{!c.Status}"/>
                   
                
            </apex:pageBlockTable>
        </apex:pageBlock>
        
       
        </apex:outputPanel>
    </apex:form>
</apex:page>