<!-- 
2014-10-17  |  PGE  |  Added jquery sliding content code per CR#18118 /a0CD000000mG55K
2015-02-19  |  JNR  |  Reorganized to align with other product pages per CR#23510 /a0CD000000qCJMj
2015-10-20  |  BDH  |  CR 62717 #Quick - update Qlik.com links on product pages
 -->

<apex:page title="Qlik Sense">


<!--INTRO-->
<div class="intro">

    <h1>Qlik Sense<sup>&reg;</sup></h1>

    <div class="roundedcorners" style="background-color:#F0F0F0 ; border:1px; padding:10px 10px 0px 10px; width:850px;"> 

        <div><img style="float:right; margin-top:5px; margin-left:20px; margin-right:10px; margin-bottom: 10px;" src="https://qvfiles.s3.amazonaws.com/partner_portal/images/promos/QlikSense-2-0%20Partner%20Portal.png" width="140" /> 

            <div class="nowrap"><h2>The Quick Pitch</h2>
            <p>Qlik Sense is a next-generation visual analytics platform that empowers everyone to see the whole story that lives within their data. It supports a full spectrum of BI use cases including self-service visualization for everyone, centrally deployed guided analytics apps and dashboards, embedded analytics, and reporting, all within a governed framework that offers enterprise scalability and trust for IT.</p></div>
        </div> 

    </div>

    <p style="clear:left;"></p>
    
    <p>Visit the Qlik Partner Portal on a regular basis to discover new learning assets, collateral and other valuable information, as all content on the Portal is subject to change.</p>

    <!--h2><font style="color:#62ac1e;"><strong>New Update on Qlik’s Cloud Strategy and 2017 MSP Program</strong></font><br />
    <a target="_blank" href="">Download and read a short message on the 2017 strategy.</a></h2-->

</div>

</apex:page>