<!--
Changelog: March 17 2014  PGE  created new sub page page for education section
BDH 10/21/2015 | CR# 62943 - Qlik.com link fixes - education pages                         
-->

<apex:page title="Sell Qlik Education" controller="PPMarketingPortalClass">

<!--Sliding Divs BEGIN-->
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js"></script>
<script type="text/javascript" src="https://qvfiles.s3.amazonaws.com/partner_portal/js/animatedcollapse.js"></script>

<script type="text/javascript">
animatedcollapse.addDiv('benefits', 'fade=1')
animatedcollapse.addDiv('how', 'fade=1')
animatedcollapse.addDiv('how2', 'fade=1')
animatedcollapse.addDiv('classroom', 'fade=1')
animatedcollapse.addDiv('qcc', 'fade=1')
animatedcollapse.addDiv('qccsub', 'fade=1')
animatedcollapse.addDiv('elearning', 'fade=1')
animatedcollapse.addDiv('skills', 'fade=1')

animatedcollapse.ontoggle=function($, divobj, state){ //fires each time a DIV is expanded/contracted
    //$: Access to jQuery
    //divobj: DOM reference to DIV being expanded/ collapsed. Use "divobj.id" to get its ID
    //state: "block" or "none", depending on state
}

animatedcollapse.init()
</script>

<style type="text/css">
/*Sample CSS used for the Virtual Pagination Demos. Modify/ remove as desired*/


.countryDDs {
margin-left:25px;
}
#benefits, #how, #how2 #classroom, #qcc, #elearning, #skills, #qccsub {
margin-top:-17px;
}

/*#subitemifneeded */
/*#qccsub > p {
margin-left:17px;
}*/

#sublist {
margin-left:25px;
padding-left:10px;
}

#inlineexternal { background: url('https://login.qlik.com/external/prm/images/icons/icon_external.png') center right no-repeat; padding-right: 18px; margin-left:0px !important;}
}

</style>

<!--RELATED RESOURCES BEGIN-->
<div style="width:200px; float:right; margin-left:10px;">

<div class="module m1">
    <div class="module m2">
        <div class="module m3">
            <div id="uiRowWrapper">
                <div id="uiColWrapper">
                    <div class="bubble blue" id="textBoxWrapper">
                        <div id="uiSingleText">
                            <p><strong>Make Education part of the conversation</strong>
                            <ul class="linkedlist">
                                <p><a target="_blank" href="/apex/PPEducation?SubPage=JustAsk"><img src="https://qvfiles.s3.amazonaws.com/partner_portal/images/education/JustAsk.png" width="150" /></a></p>
                                <p>Ask the right questions to increase success!<br />
                                <a target="_blank" href="/apex/PPEducation?SubPage=JustAsk">Learn how</a></p>
</ul>
                            </p>
                        </div>
                    <div id="uiFooter"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="module m1">
    <div class="module m2">
        <div class="module m3">
            <div id="uiRowWrapper">
                <div id="uiColWrapper">
                    <div class="bubble blue" id="textBoxWrapper">
                        <div id="uiSingleText">
                            <p><strong>Related Resources</strong><br />
                            <ul class="linkedlist">
                                <!--<li><a href="">Why to Resell Education Services</a></li>-->
                                <li><a href="/sfc/#version?selectedDocumentId=069D0000002TZ0i">Training Course Catalog</a></li>
                                <li><a href="/sfc/#version?selectedDocumentId=069D0000001DGIM">Reseller Guide to Managing Opportunities</a></li>
                                <li><a target="_blank" href="http://www.qlik.com/legal/license-terms">Education Services Terms &amp; Conditions</a></li>
</ul>
                            </p>
                           
                        </div>
                    <div id="uiFooter"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<img style="float:right; margin-left:10px;" src="https://qvfiles.s3.amazonaws.com/partner_portal/images/education/education-services/pp-sidepromo-edu-services-quote.png" />

</div>
<!--RELATED RESOURCES END-->

<div class="nowrap">

<div style="width:650px;">




<!--SALES PROCESS-->

<h2 style="color:#62ac1e;"><strong>Products</strong></h2>
<p>The following products are available for resell through QlikBuy.</p>
    <div class="clearfix">
        <div class="floatleft mr20"><img src="https://qvfiles.s3.amazonaws.com/partner_portal/images/education/Training%20Card.jpg" width="53" alt="sell"/></div>
        <div class="nowrap">
            <h2 class="nomargin">Training Cards</h2>
            <p>Give your customer flexibility and receive appropriate partner compensation as stated on <a href="/{!acc.Id}">your account</a> when you add a Training Card to your deal through QlikBuy.</p>
            <div id="sublist">

                <p><a href="#" rel="toggle[benefits]" data-openimage="https://qvfiles.s3.amazonaws.com/partner_portal/images/product_support/collapse.png" data-closedimage="https://qvfiles.s3.amazonaws.com/partner_portal/images/product_support/expand.png"><img src="https://qvfiles.s3.amazonaws.com/partner_portal/images/product_support/expand.png" border="0" /></a>&nbsp;<a href="javascript:animatedcollapse.toggle('benefits')"><b>Benefits</b></a></p>

                <div id="benefits" style="width: 550px; background: #ffffff; display:none">
                    <p>&bull;  &nbsp; Your customer invests in training early<br />
                    &bull;  &nbsp; Flexibility to apply to all* training offerings<br />
                    &bull;  &nbsp; Available for 12 months from transaction<br />
                    &bull;  &nbsp; Easy quoting with a local monetary value<br />
                    &nbsp;  &nbsp; <i>*Training Cards not applicable for certifications and materials</i>
                    </p>
                </div>

                <p><a href="#" rel="toggle[how]" data-openimage="https://qvfiles.s3.amazonaws.com/partner_portal/images/product_support/collapse.png" data-closedimage="https://qvfiles.s3.amazonaws.com/partner_portal/images/product_support/expand.png"><img src="https://qvfiles.s3.amazonaws.com/partner_portal/images/product_support/expand.png" border="0" /></a>&nbsp;<a href="javascript:animatedcollapse.toggle('how')"><b>How?</b></a></p>
                <div id="how" style="width: 550px; background: #ffffff; display:none">
                    <p>&bull;  &nbsp; In QlikBuy, enter a value in local monetary currency.<br />
                    &bull;  &nbsp; It is your responsibility to send customer confirmations to the end user. The customer can apply their Training Card online at checkout.<br />
                    &bull;  &nbsp; Contact your Training Manager to obtain the latest price lists for your region.<br />
                        <font style="color:#F8981D;"><strong>Note:</strong></font> While signed into the <a target="_blank" id="inlineexternal" href="http://login.qlik.com/lms/redirect.aspx?returnURL=http://inter.viewcentral.com/events/cust/default.aspx?cid=qlik&app_id=1">Training Registration page</a>, prices will reflect <a href="/{!acc.Id}">your partner discount</a> and should not be used to quote customers.</p>
                </div>
            </div>


        </div>
    </div>


    <div class="clearfix">
        <div class="floatleft mr20"><img src="https://qvfiles.s3.amazonaws.com/partner_portal/images/Partner%20Icons/OrderCart-Color.png" width="53" alt="sell"/></div>
        <div class="nowrap">
            <h2 class="nomargin">Qlik Continuous Classroom</h2>
            <p>Sell Qlik Continuous Classroom to your customers looking for an innovative and self-service approach to learning the Qlik Sense or QlikView skills they need. Subscriptions are role-based, and include access to content for both QlikView and Qlik Sense.</p>

            <div id="sublist">

                <p><a href="#" rel="toggle[qccsub]" data-openimage="https://qvfiles.s3.amazonaws.com/partner_portal/images/product_support/collapse.png" data-closedimage="https://qvfiles.s3.amazonaws.com/partner_portal/images/product_support/expand.png"><img src="https://qvfiles.s3.amazonaws.com/partner_portal/images/product_support/expand.png" border="0" /></a>&nbsp;<a href="javascript:animatedcollapse.toggle('qccsub')"><b>Subscription Types</b></a></p>

                <div id="qccsub" style="width: 530px; background: #ffffff; display:none">
                <ul>
                    <li><strong>Qlik Continuous Classroom Individual Subscription</strong> – A one-year subscription for one user. In the ‘Services’ tab add the product “Qlik Continuous Classroom Individual Subscription” for the role(s) desired. Enter the number of subscriptions being sold.</li>
                    <li><strong>Qlik Continuous Classroom as a bundle with public classroom training</strong> – Save Money by bundling Continuous Classroom with instructor-led training! Training classes must match the user role of the Continuous Classroom subscription. In the ‘Services’ tab, add the bundle product of the user role and enter the number of bundles sold. Select either the individual option or the ten user option, which provides a private onsite for ten users.</li>
                    <li><strong>Corporate Subscription </strong> – Corporate one-year subscriptions (access to all user roles) are available in varying levels of up to 50, 250 or 1000 users, or unlimited users. In the ‘Services’ tab, add the Qlik Continuous Classroom Corporate Subscription level and the number of subscriptions being purchased. For example, for a corporate subscription for up to 1000 users for Company X, select the product “Qlik Continuous Classroom Corporate Subscription 251 – 1000 users” and enter 1 as the quantity. For more details, view the <a target="_blank" href="/sfc/#version?selectedDocumentId=069D0000001DGIM">QlikBuy guide</a>.</li>
                </ul>
                </div>

                <p><a href="#" rel="toggle[how2]" data-openimage="https://qvfiles.s3.amazonaws.com/partner_portal/images/product_support/collapse.png" data-closedimage="https://qvfiles.s3.amazonaws.com/partner_portal/images/product_support/expand.png"><img src="https://qvfiles.s3.amazonaws.com/partner_portal/images/product_support/expand.png" border="0" /></a>&nbsp;<a href="javascript:animatedcollapse.toggle('how2')"><b>How?</b></a></p>
                <div id="how2" style="width: 550px; background: #ffffff; display:none">
                    <p>Simply add it as a product in your QlikBuy order. You will receive the appropriate partner compensation as stated on <a href="/{!acc.Id}">your account</a> immediately when selling through QlikBuy. Select "Revenue Type – Reseller". In the "Services" tab, select the correct subscription type and proceed with regular QlikBuy steps. Please see the <a target="_blank" href="/sfc/#version?selectedDocumentId=069D0000001DGIM">QlikBuy guide</a> for more details.</p>
                </div>
            </div>
            <p>Download an <a target="_blank" href="/sfc/#version?selectedDocumentId=069D0000003rhTG">example USD Price List</a>. Please contact your Qlik training contact or Partner Manager for regional price lists.</p>

        </div>
    </div>

<div class="hr"></div>

<h2 style="color:#62ac1e;"><strong>Positioning Qlik Education</strong></h2>
<p>Learn how to position the training offerings below, which are available to customers when they use their Training Card.</p>

    <div class="clearfix">
        <div class="floatleft mr20"><img src="https://qvfiles.s3.amazonaws.com/partner_portal/images/Partner%20Icons/ContinuousClassroom_color.png" width="53" alt="qcc"/></div>
        <div class="nowrap">
            <h2 class="nomargin">Qlik Continuous Classroom <font style="color:#62ac1e;">$</font></h2>
            <p>Qlik Continuous Classroom is a great complement to our classroom training and provides your customers with continuous learning over time!</p>

            <div id="sublist">

            <p><a href="#" rel="toggle[qcc]" data-openimage="https://qvfiles.s3.amazonaws.com/partner_portal/images/product_support/collapse.png" data-closedimage="https://qvfiles.s3.amazonaws.com/partner_portal/images/product_support/expand.png"><img src="https://qvfiles.s3.amazonaws.com/partner_portal/images/product_support/expand.png" border="0" /></a>&nbsp;<a href="javascript:animatedcollapse.toggle('qcc')"><b>More Information</b></a></p>

                <div id="qcc" style="width: 550px; background: #ffffff; display:none">
                <p><strong>What?</strong> Qlik Continuous Classroom is a holistic approach to learning, combining the best elements of instructor-led training and on-demand accessibility in one learning portal for technical training. This one-year subscription allows for continuous learning and takes advantage of many new learning features online including videos, quizzes, forums, live instructor office hours, collaboration, and more.<br />
                &bull;  &nbsp; Try it out at <a target="_blank" href="https://qlikid.qlik.com/qccportal">qcc.qlik.com</a>!
                </p>

                <p><strong>Why to sell:</strong> Help customers learn relevant technical Qlik Sense skills when and how works best for them, all the while supported by their peers and expert instructors. Content is added frequently to make sure their skills are up to date with the latest Qlik Sense technical releases.</p>

                <p><strong>Who to sell to:</strong> Sell this to customers looking for a self-service approach to learning, eager to start using Qlik Sense before classes are available, or too busy to take time to attend formal classroom training. Any kind of customer will benefit! This platform is available for the Qlik Sense Business Analyst and Qlik Sense Data Architect user roles. More roles coming.</p>

                <p><strong>When to sell:</strong> This learning option is designed to complement our classroom training. In fact, customers receive a discount when they buy the “Create Visualizations with Qlik Sense” classroom training and the Qlik Continuous Classroom together! Position Education early in your deal so they can get started learning immediately.</p>

                </div>
            </div>
            <div class="hr"></div>                                                                           
        </div>
    </div>

    <div class="clearfix">
        <div class="floatleft mr20"><img src="https://qvfiles.s3.amazonaws.com/partner_portal/images/Partner%20Icons/InsctructorLead_color.png" width="39" style="margin-left:7px; margin-right:7px;" alt="classroom"/></div>
        <div class="nowrap">
            <h2 class="nomargin">Classroom Training for QlikView and Qlik Sense <font style="color:#62ac1e;">$</font></h2>
            <p>Classroom training is for customers looking to advance their Qlik skills with formal training. For a full list of our offerings, read and distribute our <a target="_blank" href="http://www.qlik.com/~/media/content%20enty/1-5%20training/qlik-education-catalog-en.pdf">Education Catalog</a>.</p> 

            <div id="sublist">

            <p><a href="#" rel="toggle[classroom]" data-openimage="https://qvfiles.s3.amazonaws.com/partner_portal/images/product_support/collapse.png" data-closedimage="https://qvfiles.s3.amazonaws.com/partner_portal/images/product_support/expand.png"><img src="https://qvfiles.s3.amazonaws.com/partner_portal/images/product_support/expand.png" border="0" /></a>&nbsp;<a href="javascript:animatedcollapse.toggle('classroom')"><b>More Information</b></a></p>

                <div id="classroom" style="width: 550px; background: #ffffff; display:none">
                <p><strong>What?</strong> You can sell instructor-led classroom training, live virtual instructor-led training, and private training to your customers through Training Cards.</p>

                <p><strong>Why to sell:</strong> Qlik has been training users since 1993, and has the expertise and use cases to enable your customers. Qlik Education offers training in 54 countries and over 185 cities globally, as well as unlimited virtual and private training locations. We train in 9 languages to meet your customers’ needs.</p>

                <p><strong>Who to sell to:</strong> Classroom training is great for customers of all skill levels and user roles who are looking for a structured approach to learning technical Qlik skills.</p>

                <p><strong>When to sell:</strong> Position Education early in your deal.</p>

                <p><strong>How to sell:</strong> Add a Training Card to your deal by following the <a target="_blank" href="/sfc/#version?selectedDocumentId=069D0000001DGIM">QlikBuy guide instructions</a>.</p>

                </div>
            </div>
                                                                                
        </div>
    </div>


</div>

</div>

</apex:page>