<apex:page >

<h1>Partner Types - Solution Provider</h1>

<br/>
                        			
		                    				<apex:outputlink value="ppQonnectProgramPage?SubPage=BusinessConsultant" >
				                         		Business Consultant/Systems Integrator
				                           		<apex:actionSupport event="onclick" action="{!redirect}" rerender="sections">
				                        			<apex:param name="SubPage" value="BusinessConsultant"/>
				                   				 </apex:actionSupport>  
				                          		</apex:outputlink>
                         			 
					                 <br/>
               	                              <apex:outputlink value="ppQonnectProgramPage?SubPage=ImplementationPartner" >
				                         		Implementation Partner
				                           		<apex:actionSupport event="onclick" action="{!redirect}" rerender="sections">
				                        			<apex:param name="SubPage" value="ImplementationPartner"/>
				                   				 </apex:actionSupport>  
				                          		</apex:outputlink>
				                         <br/> 		
				                          		
		                      	 			 	
		                      	 			
		                      	 				 <apex:outputlink value="ppQonnectProgramPage?SubPage=OEMPartner" >
				                         		OEM Partner
				                           		<apex:actionSupport event="onclick" action="{!redirect}" rerender="sections">
				                        			<apex:param name="SubPage" value="OEMPartner"/>
				                   				 </apex:actionSupport>  
				                          		</apex:outputlink> 	
				                          		
				                       <br/> 		
				                          		
		                      	 			 	
		                      	 			
		                      	 				 <apex:outputlink value="ppQonnectProgramPage?SubPage=SolutionPartner" >
				                         		Solution Partner
				                           		<apex:actionSupport event="onclick" action="{!redirect}" rerender="sections">
				                        			<apex:param name="SubPage" value="SolutionPartner"/>
				                   				 </apex:actionSupport>  
				                          		</apex:outputlink> 	
				                          		
				                       <br/> 		
				                          		
		                      	 			 	
		                      	 			
		                      	 				 <apex:outputlink value="ppQonnectProgramPage?SubPage=TechnologyPartner" >
				                         		Technology Partner
				                           		<apex:actionSupport event="onclick" action="{!redirect}" rerender="sections">
				                        			<apex:param name="SubPage" value="TechnologyPartner"/>
				                   				 </apex:actionSupport>  
				                          		</apex:outputlink> 	   		   		
		                      	 		<br/>

</apex:page>