<apex:page >
<!-----------------------------
2012-09-03  |  MLN  |  Fixed formatting |  Qonnect Update 2012
2014-11-13  |  BTN  |  CR#17310 Changed brand and product names Qliktech => Qlik, QlikView to Qlik Products
----------------------------->
<h1>Thank you</h1><BR/>
  <div class="intro">
  <p>Thank you for registering the sales opportunity with your customer contact!</p>
  <p>The registration is confirmed and our responsible Qlik sales team will contact you within the next five workdays with Approval or Rejection of your registration.</p>
  <p>Qlik appreciates your efforts in presenting and positioning Qlik Products with your customers!</p>

  <p>Kind regards<br />  <i>-Your Qlik Alliances Team</i></p>
  </div>
</apex:page>