<!--************************************************************
* 2019-05-05 AIN IT-1597 Updated for Support Portal Redesign
*************************************************************-->
<apex:page standardController="Case" extensions="QS_CaseStakeholdersController">
    <apex:form >
        <apex:outputPanel layout="block" id="theBlock" style="overflow:auto;height:200px">
            <table style="width:80%;">
                <tr>
                    <td valign="top" style="width:30%;">
                        <apex:outputPanel layout="block" id="addStakeHolderPanel" rendered="{!atLeastOneSubscriber}">
                        <table style="width:100%;">

                            <tr style="margin-bottom:10px;" >
                                <td>
                                    <b>Add New Stakeholder</b>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <apex:selectList value="{!userId}" id="newSubList" size="8">
                                        <apex:selectOptions value="{!newSubList}" />
                                    </apex:selectList>
                                </td>
                            </tr>
                            <tr>
                                <td style="margin-top:5px;">
                                    <apex:commandButton action="{!addStakeholder}" value="Add Stakeholder" reRender="theBlock"/>
                                </td>
                            </tr>   
                        </table>
                        </apex:outputPanel>
                        
                    </td>
                    <td valign="top" style="width:70%;">
                        <table style="width:100%;">
                            <tr>
                                <td style="width: 30px; display: inline-block;">

                                </td>

                                <td class="shRow">
                                    <b>Name</b>
                                </td>
                                <td class="shRow">
                                    <b>Email</b>
                                </td>
                            </tr>
                            <apex:repeat value="{!stakeholders}" var="u">
                                <tr>
                                    <td style="width: 30px; display: inline-block;">
                                        <a href="javascript:if (window.confirm('Are you sure?')) removeSub('{!u.Id}');" style="font-weight:bold">Del</a>
                                    </td>
                                 
                                    <td class="shRow">
                                        <span>{!u.Subscriber.Name}</span>
                                    </td>
                                    
                                    <td class="shRow">
                                        <a href="mailto:{!u.Subscriber.Email}">{!u.Subscriber.Email}</a>
                                    </td>
                                </tr>    
                            </apex:repeat>
                            <apex:actionFunction name="removeSub" action="{!removeStakeholder}" reRender="theBlock">
                                <apex:param assignTo="{!subId}" value="" name="subId"/>
                            </apex:actionFunction>
                            <tr>
                                <td><br/></td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </apex:outputPanel>
    </apex:form>
    <style>
    .shRow{
        width:50%;
        padding-bottom:5px;
        border-bottom:1px solid #ECECEC;
    }
    </style>
</apex:page>