<!-----------------------------
    Author: SAN Initial development
    2015-02-04 customer portal project
    2019-05-05 AIN IT-1597 Updated for Support Portal Redesign
 ------------------------------ -->
<apex:page cache="false"
    standardStylesheets="false"
    showHeader="false"
    sidebar="false"  
    language="{!$CurrentPage.parameters.l}"
    applyBodyTag="false"
    applyHtmlTag="false" controller="QS_EnvironmentLookupController">
    <script>
        var jsSelectedEnvironmentId;
        var jsSelectedEnvironmentName;
        
        function fillInDetails (){
            fillInY(jsSelectedEnvironmentName, jsSelectedEnvironmentId);
        }
 
        function fillInY(name, id) {
            //alert(name + '--' + id);
        
            var winMain = window.opener;
            if (null == winMain) {
                winMain = window.parent.opener;
            }
      
            winMain.updateEnvironmentValues( name, id );
      
            CloseWindow();
        }

       function CloseWindow() {
          var winMain = window.opener;
          if (null == winMain)
          {
             winMain = window.parent.opener;
          }
          winMain.closeLookupPopup();
       }

        function justClose(){
            window.close();
        }
    </script>
    <script type="text/javascript">
        $(document).ready(function () { RefreshTable(false); });
        $(document).load(function () { RefreshTable(false); });

        function RefreshTable(newEnviroment) {
            var url = window.location.href;
            var pageSize;
            var defaultSortOrder = 1; //Table is sorted based on the Last Used Date for Case Wizard
            var sortOrder = "desc";

            if (url.indexOf('CaseWizard') == -1 || url.indexOf('CaseDetails') != -1) {
                defaultSortOrder = 3; //Table is sorted based on the Account Name for all other pages
                sortOrder = "asc";
            }

            if (newEnviroment) {
                defaultSortOrder = 2; //Newly added environment is displayed at the top of the table
            }
            if (url.indexOf('CaseWizard') != -1 || url.indexOf('CaseDetails') != -1)
                pageSize = 5;
            else
                pageSize = 10;

            var table = $("#caseTable1,#caseTable2,#caseTable3").DataTable({
                "lengthChange": false,
                "processing": true,
                "deferRender": true,
                "order": [[0, 'asc']],
                "fnDrawCallback": function (oSettings) {
                      var pgr = $(oSettings.nTableWrapper).find('.dataTables_paginate')
                      if (oSettings._iDisplayLength > oSettings.fnRecordsDisplay()) {
                        pgr.hide();
                      } else {
                        pgr.show()
                      }
                    }
            })


            if (defaultSortOrder == 2) {
                $('#caseTable1').find("tbody tr:eq(0)").addClass('selected');
            }

            console.log(defaultSortOrder);

            $('#caseTable1 tbody, #caseTable2 tbody, #caseTable3 tbody').on('click', 'tr', function () {
                if ($(this).hasClass('selected')) {
                    $(this).removeClass('selected');
                    if (url.indexOf('CaseWizard') > -1 || url.indexOf('CaseDetails') != -1)
                        showhideDiv($("#caseTable1").DataTable().cell('.selected', 0).data(), false, arguments[0], $("#caseTable1").DataTable().cell('.selected', 1).data());
                }
                else {
                    table.$('tr.selected').removeClass('selected');
                    $(this).addClass('selected');
                    if (url.indexOf('CaseWizard') > -1 || url.indexOf('CaseDetails') != -1)
                        showhideDiv($("#caseTable1").DataTable().cell('.selected', 0).data(), true, arguments[0], $("#caseTable1").DataTable().cell('.selected', 1).data());
                }
                //SetJSEnviron(table.cell('.selected', 0).data());
            });

            $("#CaseTabs").tabs({
                activate: function (event, ui) {
                    var jqTable = $('table.display', ui.newPanel);
                    if (jqTable.length > 0 && typeof TableTools != 'undefined') {
                        var oTableTools = TableTools.fnGetInstance(jqTable[0]);
                        if (oTableTools != null && oTableTools.fnResizeRequired()) {
                            jqTable.dataTable().fnAdjustColumnSizing();
                            oTableTools.fnResizeButtons();
                        }
                    }
                }
            });

            $('#caseTable1 tbody').on('click', 'td.IdDelete', function () {
                if ($(this).hasClass('selected')) {
                    $(this).removeClass('selected');
                }
                else {
                    table.$('tr.selected').removeClass('selected');
                    $(this).addClass('selected');
                }
                //SetJSEnviron(table.cell('.selected', 0).data());
            });
            $("#caseTable1").show();
            $("#caseTable1,#caseTable2,#caseTable3,#CaseTabs").show();
        }

        $(function () {
            var url = window.location.href;

            $("#caseTable1 tbody").on('mouseover', 'tr', function () {
                if (url.indexOf('CaseWizard') > -1 || url.indexOf('CaseDetails') != -1)
                    showhideDiv($("#caseTable1").DataTable().cell('.selected', 0).data(), true, arguments[0], $(this).find("td:first").text());
            }).on('mouseout', 'tr', function () {
                if (url.indexOf('CaseWizard') > -1 || url.indexOf('CaseDetails') != -1)
                    showhideDiv($("#caseTable1").DataTable().cell('.selected', 0).data(), false, arguments[0], $(this).find("td:first").text());
            });

        });

        function showhideDiv(id, show, evt, currentRowId) {
            //debugger;
            var e = (window.event) ? window.event : evt;
            var posX = (window.event) ? e.x : e.pageX;
            var posY = (window.event) ? e.y : e.pageY;
            var theDiv = document.getElementById('div_' + id);
            //console.log(theDiv);

            if (theDiv != null && id == currentRowId) {
                theDiv.style.left = posX + 'px';
                theDiv.style.top = posY + 'px';
                theDiv.style.display = (show ? 'block' : 'none');
                //alert(theDiv.style.top);
            }
        }
    </script>
    <apex:composition template="QS_PopupTemplate">
        <apex:define name="body" > 
            <section>
                <div class="wrapper">
                    <div class="qs-page-environment qs-page">
                        <div>
                            <div>
                                <apex:form >
                                    <input type="hidden" id="selectEnvironmentId"  />
                                    <input type="hidden" id="selectEnvironmentName" />
                                    <apex:outputPanel id="environmentPanel">
                                    <div class="qs-module">
                                        <h1>Select an environment</h1>
                                    </div>
                                    <div class="qs-module">
                                    <c:QS_CreateEnvironment />
                                    <apex:actionFunction name="refreshEnvironmentList"  rerender="abc" status="save-status"/>
                                    <div  class="qs-clearfix" align="center" >
                                        <apex:actionStatus id="save-status" >
                                            <apex:facet name="start" >
                                                <img src="/img/loading.gif" /> Loading Environments please wait...
                                            </apex:facet>
                                        </apex:actionStatus>
                                    </div>
                                    <apex:messages />
                                    <apex:pageblock id="tabBlock">
                                        <apex:outputPanel id="CaseTabHolder" rendered="true" >
                                            <div id="CaseTabs" style="display:none">
                                                <div class="qs-module">
                                                    <ul>
                                                        <li><a href="#caseTabOpen">Production</a></li>
                                                        <li><a href="#caseTabClosed">Test</a></li>
                                                        <li><a href="#caseTab3">Development</a></li>
                                                    </ul>
                                                </div>
                                                    <div id="caseTabOpen">
                                                        <table id="caseTable1" class="display" style="display:none">
                                                            <thead>
                                                                <tr>
                                                                    <th style="display:{!IF(showSelectionOption,'table-cell', 'none')}"><apex:outputText value="Select" rendered="{!showSelectionOption}" /></th>
                                                                    <th style="display:{!IF(!showAccountColumn,'table-cell', 'none')}">Account</th>
                                                                    <th>Name</th>
                                                                    <th>License</th>
                                                                    <th>Product</th>
                                                                    <th>O/S</th>
                                                                    <th>Version</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <apex:repeat var="env" value="{!prodEnvironments}">
                                                                    <tr>
                                                                        <td style="display:{!IF(showSelectionOption,'table-cell', 'none')}">
                                                                        <!--apex:inputCheckbox rendered="{!showSelectionOption}" value="{!env.selected}" onClick="setSelectedEnvironment('{!env.environment.Id}','{!env.environment.Name}');" /-->
                                                                        <input type="radio" id="selectEnvironment" name="selectEnvironment" value="'{!env.environment.Id}'~'{!env.environment.Name}'" onClick="setSelectedEnvironment('{!env.environment.Id}','{!JSENCODE(env.environment.Name)}')" />
                                                                        </td>
                                                                        <td style="display:{!IF(!showAccountColumn,'table-cell', 'none')}">{!env.environment.Account__r.Name}</td>
                                                                        <td><apex:outputlink value="{!$Page.QS_EnvironmentDetails}?Id={!env.environment.Id}">{!env.environment.Name}</apex:outputlink></td>
                                                                        <td>{!env.environment.Product_License__r.Name}</td>
                                                                        <td>{!env.environment.Product__c}</td>
                                                                        <td><apex:outputtext value="{!env.environment.Operating_System__c}" /></td>
                                                                        <td><apex:outputtext value="{!env.environment.Version__c}" /></td>
                                                                    </tr>
                                                                </apex:repeat>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                    <div id="caseTabClosed">
                                                        <table id="caseTable2" class="display" style="display:none">
                                                            <thead>
                                                                <tr>
                                                                    <th style="display:{!IF(showSelectionOption,'table-cell', 'none')}"><apex:outputText value="Select" rendered="{!showSelectionOption}" /></th>
                                                                    <th style="display:{!IF(!showAccountColumn,'table-cell', 'none')}">Account</th>
                                                                    <th>Name</th>
                                                                    <th>License</th>
                                                                    <th>Product</th>
                                                                    <th><apex:outputtext value="O/S" /></th>
                                                                    <th><apex:outputtext value="Version" /></th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <apex:repeat var="env" value="{!testEnvironments}">
                                                                    <tr>
                                                                        <td style="display:{!IF(showSelectionOption,'table-cell', 'none')}">
                                                                            <!--apex:inputCheckbox rendered="{!showSelectionOption}" value="{!env.selected}" /-->
                                                                            <!--input type="radio" name="selectEnvironmentId" onclick="setPreferredDistributor(this)" value="{!env.selected}"/-->
                                                                            <input type="radio" id="selectEnvironment" name="selectEnvironment" value="'{!env.environment.Id}'~'{!env.environment.Name}'" onClick="setSelectedEnvironment('{!env.environment.Id}','{!env.environment.Name}');" />
                                                                        </td>
                                                                        <td style="display:{!IF(!showAccountColumn,'table-cell', 'none')}">{!env.environment.Account__r.Name}</td>
                                                                        <td><apex:outputtext value="{!env.environment.Name}"></apex:outputtext></td>
                                                                        <td>{!env.environment.Product_License__r.Name}</td>
                                                                        <td>{!env.environment.Product__c}</td>
                                                                        <td><apex:outputtext value="{!env.environment.Operating_System__c}" /></td>
                                                                        <td><apex:outputtext value="{!env.environment.Version__c}" /></td>
                                                                    </tr>
                                                                </apex:repeat>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                    <div id="caseTab3">
                                                        <table id="caseTable3" class="display" style="display:none">
                                                            <thead>
                                                                <tr>
                                                                    <th style="display:{!IF(showSelectionOption,'table-cell', 'none')}"><apex:outputText value="Select" rendered="{!showSelectionOption}" /></th>
                                                                    <th style="display:{!IF(!showAccountColumn,'table-cell', 'none')}">Account</th> 
                                                                    <th>Name</th>
                                                                    <th>License</th>
                                                                    <th>Product</th>
                                                                    <th><apex:outputtext value="O/S" /></th>
                                                                    <th><apex:outputtext value="Version" /></th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <apex:repeat var="env" value="{!devEnvironments}">
                                                                    <tr>
                                                                        <td style="display:{!IF(showSelectionOption,'table-cell', 'none')}">
                                                                            <input type="radio" id="selectEnvironment" name="selectEnvironment" value="'{!env.environment.Id}'~'{!env.environment.Name}'" onClick="setSelectedEnvironment('{!env.environment.Id}','{!env.environment.Name}');" />
                                                                        </td>
                                                                        <td style="display:{!IF(!showAccountColumn,'table-cell', 'none')}">{!env.environment.Account__r.Name}
                                                                        </td>
                                                                        <td>
                                                                            <apex:outputtext value="{!env.environment.Name}"></apex:outputtext>
                                                                        </td>
                                                                        <td>{!env.environment.Product_License__r.Name}
                                                                        </td>
                                                                        <td>{!env.environment.Product__c}
                                                                        </td>
                                                                        <td>
                                                                            <apex:outputtext value="{!env.environment.Operating_System__c}" />
                                                                        </td>
                                                                        <td>
                                                                            <apex:outputtext value="{!env.environment.Version__c}" />
                                                                        </td>
                                                                    </tr>
                                                                </apex:repeat>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                                </apex:outputPanel>
                                            </apex:pageblock>
                                        </div>
                                    </apex:outputPanel>
                                    <div class="buttons">
                                        <apex:commandButton value="OK" onclick="fillInDetails();" styleClass="btn"/>
                                        <apex:commandButton value="Close" onclick="justClose();" styleClass="btn btn-secondary"/>
                                    </div>
                                </apex:form>
                            </div>
                        </div>
                    </div>
                    <script>
                        function setSelectedEnvironment( id, name ){
                            document.getElementById('selectEnvironmentId').value = id;
                            document.getElementById('selectEnvironmentName').value = name;
                            jsSelectedEnvironmentName = name;
                            jsSelectedEnvironmentId = id;
                        }
                    </script>
                </div>
            </section>
        </apex:define>
    </apex:composition>
</apex:page>