<!-----------------------------
    Author: SAN Initial development
    2015-02-04 customer portal project
  2019-05-05 AIN IT-1597 Updated for Support Portal Redesign
 ------------------------------ -->
<apex:page cache="false"
  standardStylesheets="false"
  showHeader="false"
  sidebar="false"  
  language="{!$CurrentPage.parameters.l}"
  applyBodyTag="false"
  applyHtmlTag="false" controller="QS_EnvironmentSelectionController">
    <script>
        function fillIn(name, id) {
            var winMain = window.opener;
            if (null == winMain) {
                winMain = window.parent.opener;
            }
            var ele = winMain.document.getElementById('{!$CurrentPage.parameters.namefield}');
            ele.value = name;
            ele = winMain.document.getElementById('{!$CurrentPage.parameters.idfield}');
            ele.value = id;
            CloseWindow();
        }

        function CloseWindow() {
            var winMain = window.opener;
            if (null == winMain) {
                winMain = window.parent.opener;
            }
            winMain.closeLookupPopup();
        }
    </script>

    <apex:composition template="QS_PageTemplate">
        <apex:define name="body">
            <div class="qs-page-environment">
                <div class="qs-grid qs-grid-pad">
                    <div class="qs-col-1-1">
                        <apex:form >
                            <apex:outputPanel id="environmentPanel">
                                <div class="qs-module">
                                    <h1>Select an environment</h1>
                                </div>
                                <div class="qs-module">
                                    <c:QS_EnvironmentListComponent showSelectionOption="true" showForAccount="{!resultsForAccount}" selectedEnvironmentObj="{!selectedEnvironment}"/>
                                </div>
                            </apex:outputPanel>
                            <apex:commandButton action="{!setSelectedEnvironment}" value="Save"></apex:commandButton>
                            <apex:commandButton action="{!CancelEnvironmentLink}" value="Cancel"></apex:commandButton>
                            <button type="button" onclick="CloseWindow();">Close Window</button>
                            <apex:commandButton value="OK" onclick="fillIn('{!selectedEnvironment.Name}', '{!selectedEnvironment.id}')"/>
                        </apex:form>
                    </div>
                </div>
            </div>
        </apex:define>
    </apex:composition>
</apex:page>