<apex:page standardController="Quote__c" >
As a part of Qliktech.Next deployments this page is not accessible. Please use the new quote functionality in the system.

<!--
<apex:sectionHeader title="Quotes_In_CPQ" subtitle="WebCom Quotes"/>
<apex:iframe src="https://{!$Setup.RefreshSandbox__c.VFPageUrlValue__c}.webcomcpq.com/salesforce/SfLogin.aspx?sfauthUserID={!$User.Username}&apiPartnerURL={!$Api.Partner_Server_URL_90}&apiSessionID={!$Api.Session_ID}&domain_name=qliktech&apiPass=Password&sfqpOpportunityID={!$CurrentPage.parameters.CF00N20000001z9jQ_lkid}&FirstPage=quotation/LoadQuote.aspx?tab=2"  scrolling="true"/>
-->
</apex:page>