<apex:page controller="QVM_ProductPreviewCon" sidebar="false" title="{!$Label.QVM_Product_Preview}">
<!-----------------------------
2012-09-03  |  MLN  |  Added left nav for Qonnect launch |  Qonnect Update 2012
2013-03-14  |  CCE  |  Added QVM_PB_Preview_Return_to_Expertise_Program button re CR# 7563 https://eu1.salesforce.com/a0CD000000XNdTD
2013-05-13  |  PGE  |  Added include file qvm_leftnav to move side nav into one file
2013-07-11  |  MLN  |  Fixed QVM Preview Issues
2013-12-06  |  MLN  |  CR#9513 https://eu1.salesforce.com/a0CD000000b9oLU #Quick :: QlikMarket Product Preview Style Sheet Incorrect
2015-07-31  |  CCE  |  CR# 48632 Update Qlik Partner Network center URLs
2017-03-14  |  BAD  |  CR# 101405 Qlik Market Preview Page style changes
2017-08-24  |  CCE  |  CHG0031171 - Remove URL section Qlik Market Preview
2018-05-23  |  CMQ  |  Move Partner Portal CSS files to Amazon S3 | Updated link references (CHG0033690)
------------------------------>
<link rel="stylesheet" href="https://qlikpartnerportal.s3.amazonaws.com/prod/prm/css/qlikmarket.css" type="text/css" media="screen" />

<style>
        
.qvm-button {
    display: inline-block;
    float: left;
    height: 30px;
    /*background: url({!$Resource.QVM_bg_btn}) top right no-repeat;*/
    background: #5ea819 top right no-repeat;
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 12px;
    padding-right: 20px;
}
.qvm-button:before {
    content: "";
    display: inline-block;
    float: left;
    height: 30px;
    width: 20px;
    background: #5ea819 top left no-repeat;
}
.content .left-side {
    float: left;
    width: 332px;
    min-height: 288px;
    background: url({!$Resource.QVM_bg_visual}) top left no-repeat;
}
.bPageBlock .pbTitle {
    width: 35% !important;
}
</style>
<apex:includeScript value="{!$Resource.QVM_jquery}" />
<script type="text/javascript">
$(document).ready(function($) {
    $('#profile').click(function() {
        $('.overview_tab').removeClass('active');
        $('.profile_tab').addClass('active');
        $('.overview').hide();
        $('.profile').show();
        return false;
    });
    $('#overview').click(function() {
        $('.overview_tab').addClass('active');
        $('.profile_tab').removeClass('active');
        $('.profile').hide();
        $('.overview').show();
        return false;
    });
    
    $('#image1').click(function() {
        $('.image1').show();
        $('.image2').hide();
        $('.image3').hide();
        $('.image4').hide();
        $('.image5').hide();
        return false;
    });
    $('#image2').click(function() {
        $('.image1').hide();
        $('.image2').show();
        $('.image3').hide();
        $('.image4').hide();
        $('.image5').hide();
        return false;
    });
    $('#image3').click(function() {
        $('.image1').hide();
        $('.image2').hide();
        $('.image3').show();
        $('.image4').hide();
        $('.image5').hide();
        return false;
    });
    $('#image4').click(function() {
        $('.image1').hide();
        $('.image2').hide();
        $('.image3').hide();
        $('.image4').show();
        $('.image5').hide();
        return false;
    });
    $('#image5').click(function() {
        $('.image1').hide();
        $('.image2').hide();
        $('.image3').hide();
        $('.image4').hide();
        $('.image5').show();
        return false;
    });
    
    var productStatus = '{!product.Status__c}';
    
    editVerify = function() {
       if(productStatus != 'Draft') {
          var proceed = confirm("{!$Label.QVM_PB_Preview_Not_Draft_Validation}");
          if(proceed) {
             return editProductAction();
          } else {
            return false;
          }
       } else {
          return editProductAction();
       }
    };
    
});
</script>




              
                <div id="main">
                    <div class="clearfix">
<!-- LEFT SIDEBAR-->                 

<!--SIDENAV-->                      

                        <div id="sidebar">
                            <!-- Start Sidebar Modules -->
                            
                            <apex:include PageName="QVM_LeftNav" />
                            
<!--END SIDE NAV-->

<!--SFDC SEARCH-->
                            <div class="module m1">
                                <div class="module m2">
                                    <div class="module m3 searchmodule">
                                        <h3>Search Salesforce</h3>
                                        <div class="clearfix p6">
                                        <apex:form >
                                            <c:SearchComponent /> 
                                        </apex:form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
<!--SFDC SEARCH END--> 
<!--PARTNER LIBRARY SEARCH -->                           
                            <div class="module m1">
                                <div class="module m2">
                                  <div class="module m3 searchmodule">
                                        <h3>Search Partner Library</h3>
                                        <div class="clearfix p6">
                                        <apex:form >
                                            <c:SearchContent />
                                        </apex:form>
                                            <a href="/sfc/#search" class="advancedsearch">View All Content</a>   
                                        </div>
                                    </div>
                                </div>
                            </div>
<!--PARTNER LIBRARY SEARCH END-->                          
                            <!-- End Sidebar Modules -->

                        </div>
<!--END LEFT SIDEBAR-->
<!--RIGHT COLUMN HEADER-->                      
                        <div id="detail">
                            <div class="detailLeft">
                                <div class="detailRight">

                                    <div class="clearfix">
                                    
    
<!--RIGHT COLUMN CONTENT-->

                                        <div class="nowrap">
<apex:form id="productForm" styleClass="productForm">                                        

<apex:sectionHeader title="{!$Label.QVM_Product_Preview}" />
 « <!-- apex:commandButton value="{!$Label.QVM_PB_Preview_Return_to_Expertise_Program}" action="{!goToQVMExpertiseProgram}" immediate="true" / -->
<apex:outputLink value="{!$Label.ppQlikPartnerNetwork}?SubPage=PEP" id="theLink"> {!$Label.QVM_PB_Preview_Return_to_Expertise_Program} </apex:outputLink>
   <apex:pageBlock title="QlikMarket Product Preview Options">
        
        <apex:pageBlockButtons location="top">
          <apex:commandButton value="{!$Label.QVM_PB_Preview_Edit_Product}" onclick="return editVerify();" disabled="{!IF(product.Status__c == 'Under Review', true, false)}" />
          <apex:commandButton value="{!$Label.QVM_PB_Preview_Submit_for_Approval}" action="{!submitApproval}" disabled="{!IF(product.Status__c == 'Draft', false, true)}" />
          <apex:commandButton value="{!$Label.QVM_PB_Preview_Publish_to_Qlikmarket}" action="{!performPublishToMagento}" disabled="{!IF(product.Status__c == 'Ready to Publish', false, true)}" />
          <apex:commandButton value="{!$Label.QVM_PB_Preview_Back_to_QlikMarket}" action="{!goToQVMControlPanel}" immediate="true" />
          
       </apex:pageblockButtons>
       
       <apex:actionFunction action="{!editProduct}" name="editProductAction" />
    <div style="padding:10px;">
       <p><strong>{!$ObjectType.QVM_Product_Data__c.fields.Status__c.label}:</strong> {!product.Status__c}</p>
       <apex:outputText rendered="{!IF(LEN(product.Magento_Product_URL__c) > 0, true, false)}">
            <p>
               <!-- <span>{!$Label.QVM_PB_Preview_Magento_URL} </span>
               <apex:outputLink value="{!product.Magento_Product_URL__c}" target="_blank">{!product.Magento_Product_URL__c}</apex:outputLink>
               <br /> -->
               <span>{!$Label.QVM_PB_Preview_Magento_Last_Updated} </span>
               <apex:outputField value="{!product.Magento_Last_Updated__c}" />
            </p>
         </apex:outputText>

         <apex:outputText escape="false" value="{!$Label.QVM_PB_Preview_Product_Submitted}" rendered="{!IF(ISBLANK(product.Submitted_For_Approval__c), false, true)}">
         <apex:param value="{!product.Submitted_For_Approval__c}" />
      </apex:outputText>
      <apex:outputText escape="false" value="{!$Label.QVM_PB_Preview_Approved_Rejected}" rendered="{!IF(ISBLANK(product.Approved_Rejected_On__c), false, true)}">
         <apex:param value="{!IF(product.Status__c == 'Rejected','rejected','approved')}" />
         <apex:param value="{!product.Approved_Rejected_On__c}" />
      </apex:outputText>
      <apex:outputText escape="false" value="{!$Label.QVM_PB_Preview_Published_On}" rendered="{!IF(ISBLANK(product.Magento_Last_Updated__c), false, true)}">
         <apex:param value="{!product.Magento_Last_Updated__c}" />
      </apex:outputText>
    </div>
   </apex:pageBlock>
</apex:form>
<div class="preview-text">
{!$Label.QVM_PB_Preview_Preview_Text}
</div>
<div class="wrapper2">
   <div class="container">
      <div class="content sep">
         <div class="left-side">
            <div class="main-image">
               <div class="image1"> <img src="{!product.Image_1__c}" /> </div>
               <div class="image2" style="display:none;"> <img src="{!product.Image_2__c}" /> </div>
               <div class="image3" style="display:none;"> <img src="{!product.Image_3__c}" /> </div>
               <div class="image4" style="display:none;"> <img src="{!product.Image_4__c}" /> </div>
               <div class="image5" style="display:none;"> <img src="{!product.Image_5__c}" /> </div>
            </div>
            <div class="thumbnails">
               <div class="thumb"><a href="#" id="image1"><img src="{!product.Image_1__c}" /></a></div>
               <div class="thumb"><a href="#" id="image2"><img src="{!product.Image_2__c}" /></a></div>
               <div class="thumb"><a href="#" id="image3"><img src="{!product.Image_3__c}" /></a></div>
               <div class="thumb"><a href="#" id="image4"><img src="{!product.Image_4__c}" /></a></div>
               <div class="thumb"><a href="#" id="image5"><img src="{!product.Image_5__c}" /></a></div>
            </div>
         </div>
         <div class="right-side">
            <div class="side-content">
               <h1 class="qm-h1">{!product.Product_Name__c}</h1>
               <p>By:<strong> {!partner.Partner_Display_Name__c}</strong></p>
               <p class="shortDescription"><apex:outputText value="{!product.Short_Description__c}" escape="true" /></p>
               <div class="qm-col-2-1">
                 <p><strong>Type:</strong> {!product.Type__c}</p>
                 <p><strong>Function:</strong> {!product.Job_Function__c}</p>
                 <p><strong>Industry:</strong> {!product.Industry__c}</p>
                 <div class="button-holder">  
                      <apex:outputLink styleClass="qvm-button" value="{!product.Referral_Link__c}" rendered="{!IF(LEN(product.Referral_Link__c)>0,true,false)}" target="_blank"><span>Visit Partner Site</span></apex:outputLink>
                      <apex:outputLink styleClass="qvm-button" value="{!product.Product_Download_Link__c}" rendered="{!IF(LEN(product.Product_Download_Link__c)>0,true,false)}"><span>Download Now</span></apex:outputLink>
                 </div>
               </div>
               <div class="qm-col-2-2">
                 <p><strong>Version:</strong> {!product.Version__c}</p>
                 <p><strong>Qlikview Version:</strong> {!product.QlikView_Version__c}</p>
               </div>
            </div>
         </div>
      </div>

      <div class="qm-box">
          <!--<img src="http://s3.amazonaws.com/qlikview-market-dev/logos/{!accID.AccountId }.gif" alt="Partner Logo" />-->
          <apex:outputText value="{!productOverview}" escape="false" />

          <div>
            <div class="qm-col-1 qm-partner-desc">
                <h2>{!partner.Partner_Display_Name__c}</h2>
                <br />
                <apex:outputText value="{!partner.Partner_Profile__c}" escape="false" />
            </div> 
            <div class="qm-col-2 qm-partner-info">
              <p>
                <strong>Partner Website:</strong><br /> 
                {!partner.Partner_Website__c}<br /><br />
                <!--<strong>Support URL:</strong> {!partner.Support_URL__c}<br />-->
                <strong>Support Email:</strong> <br />
                {!partner.Support_Email__c}<br /><br />
                
                <strong>Support Phone:</strong> <br />
                {!partner.Support_Phone__c}
              </p>
            </div> 
          </div>

      </div>
   </div>
</div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                     </div>
                    </apex:page>