<apex:page id="regPage" controller="QVM_ControlPanelRegistrationCon">
<!-----------------------------
2012-09-03  |  MLN  |  Fixed layout for Qonnect launch |  Qonnect Update 2012
----------------------------->
<apex:sectionHeader title="{!$Label.QVM_CP_Title}" subtitle="{!$Label.QVM_Registration_Form}" />
<div style="font-weight: bold; color: red;">
   <apex:messages />
</div>
<apex:form id="regForm">
   <apex:pageBlock id="thepageblock">
      <apex:pageblockButtons location="bottom">
         <apex:commandButton value="{!$Label.QVM_Submit_for_Approval}" action="{!submitForm}" rendered="{!NOT(showPendingMessage)}" />
      </apex:pageblockButtons>
      <apex:pageBlockSection columns="1" title="{!$Label.QVM_Registration_Message}">
         <apex:outputText value="{!$Label.QVM_Registration}" styleClass="intro" style="padding-left:10px;display:block;"  />
      </apex:pageBlockSection>
      <apex:pageBlockSection columns="1" title="{!$Label.QVM_Approver_Title}">
         <apex:outputField value="{!accountOwner.FirstName}"/>
         <apex:outputField value="{!accountOwner.LastName}"/>
         <apex:outputField value="{!accountOwner.Email}"/>
         <apex:outputField value="{!accountOwner.Phone}"/>
      </apex:pageBlockSection>
      
      <apex:pageBlockSection id="tc" columns="1" title="{!$Label.QVM_Agree_to_Terms_Conditions}" rendered="{!NOT(showPendingMessage)}">
      
      <apex:outputText rendered="{!NOT(showPendingMessage)}">
          <div style="border: 1px solid #ccc; padding: 10px; margin: 5px 40px; overflow: auto; height: 200px;">
             <apex:outputText escape="false" value="{!terms.Content__c}" />
          </div>
      </apex:outputText>
      <apex:pageBlockSection columns="1" rendered="{!NOT(showPendingMessage)}">
         <apex:inputField value="{!partnerData.Agreed_to_T_C__c}" />
      </apex:pageBlockSection>
      
      <apex:outputText rendered="{!showPendingMessage}">
         <div style="margin-top: 10px; border: 1px solid #ccc; padding: 5px;">
            <p>{!RegistrationSubmittedMsg}</p>
            <p><apex:outputText value="{!RegistrationEditProfileMsg}" escape="false" /></p>
         </div>
      </apex:outputText>
      </apex:pageBlockSection>
   </apex:pageBlock>
</apex:form>
</apex:page>