<!--
Author: Phil Gore
Purpose: This page was created to be used as an include to the existing QVM pages so the left side navigation can be edited from one location
Created Date : May 10 2013

Change log:
20130510 PGE    CR#???  First development
???????? MLN    CR#9513 https://eu1.salesforce.com/a0CD000000b9oLU #Quick :: QlikMarket Product Preview Style Sheet Incorrect -Adding Expertise Area Subpage
2015-07-31 CCE CR# 48632 Update Qlik Partner Network center URLs
2015-09-28 BAD CR# 57106 Added existing controller to this page, and changed Manage Profile link
-->

<apex:page controller="QVM_ControlPanelCon_QC">
    <style>
        .module h3, #sidebar .module {
        	background-color: #dde0e3;
        }
    </style>
    <div class="module m1">
        <div class="module m2">
            <div class="module m3">
                <ul class="sidenav">
                    <li><apex:outputlink styleClass="topa" value="/apex/QVM_ControlPanelMain_QC">Qlik Market Control Panel</apex:outputlink> </li>
                    <li><apex:outputlink styleClass="topa" value="/apex/QVM_Customers_QC" >View Qlik Market Leads</apex:outputlink> </li>
                    <li><apex:outputlink styleClass="topa" value="/apex/QVM_Productbuilderstep1_QC">Submit New Product</apex:outputlink> </li>
                    <li><apex:outputlink styleClass="topa" value="/apex/QVM_Products_QC">Manage Products</apex:outputlink> </li>
                    <li><apex:outputlink styleClass="topa" value="/apex/QVM_Partnerprofile_QC?Id={!partner.id}">Manage Profile</apex:outputlink> </li>
                    <!--<li><apex:commandLink styleClass="topa" action="{!editPartnerProfile}">Manage Profile</apex:commandLink> </li>-->
                </ul>
            </div>
        </div>
    </div>
</apex:page>