<!--
    Change log:

    2018-03-05    ext_vos     CHG0031154: add 'To queue' logic.
    2020-07-13    ext_cqb     IT-2939 Move public Article creation to the Community
-->
<apex:page standardController="Case" tabStyle="Case" extensions="SCC_CaseButtonHolderExtension">
    <apex:includeScript value="/soap/ajax/38.0/connection.js"/>
    <apex:includeScript value="/soap/ajax/38.0/apex.js"/>
    <apex:includeScript value="/support/console/38.0/integration.js"/>
    <script type="text/javascript">
        function openSubtab(){
                if (sforce.console.isInConsole()) {
                    sforce.console.getEnclosingPrimaryTabId(callOpenSubtab);
                } else {                    
                    window.open('/{!Case.Id}/s?retURL=/{!Case.Id}', '_top');                   
                }
            };

        //The callback function that openSubtab will call once it has the ID for its primary tab
        var callOpenSubtab = function callOpenSubtab(result) {
            sforce.console.openSubtab(result.id, '/{!case.Id}/s?retURL=%2F{!case.Id}&cas7=Closed', true, null);
        };
        
        function testCloseTab() {
            //First find the ID of the current tab to refresh it
            sforce.console.getEnclosingTabId(refreshSubtab);

        };
        var refreshSubtab = function refreshSubtab(result){
            var subTabId = result.id;
            console.log(result);
            sforce.console.refreshSubtabById(subTabId, true, refreshSuccess );           
        };

        var refreshSuccess = function refreshSuccess(result) {
            console.log(result);
            //Report whether refreshing the subtab was successful
            if (result.success == true) {
                console.log('Subtab refreshed successfully');
            } else {
                console.log('Subtab did not refresh');
            }
        };
    </script>
    <apex:includeScript value="/support/console/22.0/integration.js"/>
    <style>
        input {
            width: 80px;
        }

        a, a:hover {
            text-decoration: none !important;
        }

        .paddingLeft {
            padding-left: 3px;
        }
    </style>
    <apex:outputPanel id="pnlMessageBlock">
        {!errorMsg}
    </apex:outputPanel>
    <apex:form >
        <div align="left" draggable="false">
            <apex:outputPanel id="pnlCasePickup">
                <apex:commandButton styleClass="input.btn" id="CasePickup" action="{!CasePickup}" title="{!pickupButtonTitle}"
                value="{!pickupButtonName}" onclick="this.disabled=true; this.className='btnDisabled'" oncomplete="testCloseTab(); this.disabled=false; this.className='btn input-btn'" reRender="pnlMessageBlock, pnlCasePickup" rendered="{!isCanPickup}"/>
            </apex:outputPanel>
            <apex:outputPanel id="pnlOpenSub" styleClass="paddingLeft">
                <apex:commandButton styleClass="input.btn" onclick="this.disabled=true; this.className='btnDisabled'" oncomplete="openSubtab()" id="CloseCase" value="Close Case"/>
            </apex:outputPanel>
            <apex:outputPanel id="pnlNewArticle">

            <apex:includeScript value="/support/console/38.0/integration.js"/>
            <script type="text/javascript">
                function openNewSubtab(){
                    if (sforce.console.isInConsole()) {
                        sforce.console.getEnclosingPrimaryTabId(callOpenSubtab1);
                    } else {
                        window.open('/knowledge/publishing/articleEdit.apexp?sourceId={!Case.Id}&retURL=/{!Case.Id}&type=Basic__kav', '_top');
                    }
                };

                    var callOpenSubtab1 = function callOpenSubtab1(result) {
                        sforce.console.openSubtab(result.id, '/knowledge/publishing/articleEdit.apexp?sourceId={!Case.Id}&retURL=/{!Case.Id}&type=Basic__kav', true, 'Intl Article');
                    };

                    function testCloseTab1() {
                    sforce.console.getEnclosingTabId(openSubtab1);
                    };

                    var openSubtab1 = function openSubtab1(result){
                        var subTabId1 = result.id;
                        console.log(result);
                        sforce.console.openSubtab(subTabId1, true );
                    };
            </script>

                <apex:commandButton styleClass="input.btn" onClick="openNewSubtab();return false;" value="Intl Article" title="Create new Basic Knowledge Article" alt="Create new Basic Knowledge Article"/>

            </apex:outputPanel>

            <apex:outputPanel id="pnlPublArticle">
                <span>
                    <apex:commandlink action="{!newPublicArticle}" target="_blank">
                        <apex:commandButton styleClass="input.btn" value="Publ Article" title="Create new Public Knowledge Article" alt="Create new Public Knowledge Article"/>
                    </apex:commandLink>
                </span>
            </apex:outputPanel>
        </div>
    </apex:form>
</apex:page>