<!-- 

	Email template used in Statements controller to send information to customers about invoices awaiting for payment.
	
	Change Log: 
	
	Modified: 
		xx/xx/xxxx MHG	Initial Code CR#409

 -->


<apex:page controller="StatementsController" showHeader="false" sidebar="false"> 
<style>

th.colHeader
{
    text-align: left;
}

</style>
    <apex:outputPanel rendered="{!IF(AID!='', true, false)}">
    <span style='font-family:"Arial","sans-serif";color:#333333'>
        Hello {!Item.BillingContactName},<br />
        
        <p>I am following up on my email to you from a couple of weeks ago.  As of date, the following invoices noted below are still showing on our Accounts Receivables.</p>
        
        <p>Please provide an update on when we can expect payment to complete the invoices.</p>
        
        <p>Thank you for your assistance,</p>
        </span>
    <p>
        <span style='font-size:12.0pt;font-family:"Arial","sans-serif";color:#62AC1E'>{!User.Name}</span>
        <span style='font-family:"Arial","sans-serif";color:#333333'>
            <apex:outputText value="{!User.Title}" rendered="{!IF(User.Title != '', true, false)}"><br /></apex:outputText>
            <br />
            <apex:outputText value="Direct: {!User.Phone}" rendered="{!IF(User.Phone != '', true, false)}"><br /></apex:outputText>
            <apex:outputText value="Mobile: {!User.MobilePhone}" rendered="{!IF(User.MobilePhone != '', true, false)}"><br /></apex:outputText>
            <apex:outputText value="Fax: {!User.Fax}" rendered="{!IF(User.Fax != '', true, false)}"><br /></apex:outputText>
            <apex:outputText value="Email: {!User.Email}" rendered="{!IF(User.Email != '', true, false)}"><br /></apex:outputText>
        </span>
    </p>
    
    <br />
        <p style='font-family:"Arial","sans-serif";color:#333333'>Click the Invoice number below to open PDF copy of the invoice.  Please note the PDF link will expire 14 days after date of this email.</p>
        <apex:dataTable value="{!Item.Statements}" var="SubItem" id="StatementSubListTable" rowClasses="odd,even" styleClass="subTableClass" width="100%">
            <apex:column width="80" headerClass="colHeader">
                <apex:facet name="header">Invoice</apex:facet>
                    <apex:outputLink value="http://qtinvoice.qliktech.com/" target="_top">
                        <apex:param name="CNBR" value="{!Item.NavisionCustomerNbr}"/>
                        <apex:param name="INBR" value="{!SubItem.InvoiceNbr}"/>
                        <apex:param name="QENT" value="{!Item.QlikTechEntity}"/>
                        <apex:param name="DATE" value="{!Item.HashDate}"/>
                        <apex:param name="HASH" value="{!SubItem.Hash}"/>
                        {!SubItem.InvoiceNbr}
                    </apex:outputLink>
            </apex:column>
            <apex:column width="100" headerClass="colHeader">
                <apex:facet name="header">PO</apex:facet>
                {!SubItem.PO}
            </apex:column>          
            <apex:column width="120" headerClass="colHeader">
                <apex:facet name="header">Post Date</apex:facet>
                {!YEAR(SubItem.PostDate)}-{!IF(MONTH(SubItem.PostDate) < 10, '0', '')}{!MONTH(SubItem.PostDate)}-{!IF(DAY(SubItem.PostDate) < 10, '0', '')}{!DAY(SubItem.PostDate)}
            </apex:column>
            <apex:column width="120" headerClass="colHeader">
                <apex:facet name="header">Due Date</apex:facet>
                {!YEAR(SubItem.DueDate)}-{!IF(MONTH(SubItem.DueDate) < 10, '0', '')}{!MONTH(SubItem.DueDate)}-{!IF(DAY(SubItem.DueDate) < 10, '0', '')}{!DAY(SubItem.DueDate)}
            </apex:column>
            <apex:column width="130" headerClass="colHeader">
                <apex:facet name="header">Amount</apex:facet>
                {!SubItem.Amount}
            </apex:column>
            <apex:column width="130" headerClass="colHeader">
                <apex:facet name="header">Remaining Amount</apex:facet>
                {!SubItem.RemainingAmount}
            </apex:column>
            <apex:column headerClass="colHeader"></apex:column>
        </apex:dataTable>
    
        
    </apex:outputPanel>

</apex:page>