<!-- Copyright 2014, CloudApps Ltd, all rights reserved.
//
// Redistribution and use in source and binary forms, with or without modification, are permitted provided that the following
// conditions are met:
//
// - Redistributions of source code must retain the above copyright notice, this list of conditions and the following disclaimer. 
// - Redistributions in binary form must reproduce the above copyright notice, this list of conditions and the following
//   disclaimer in the documentation and/or other materials provided with the distribution.
// - Neither the name of the salesforce.com nor the names of its contributors may be used to endorse or promote products derived
//   from this software without specific prior written permission. 
//
// THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES,
// INCLUDING, BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE
// DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT OWNER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, 
// SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; 
// LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN 
// CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, 
// EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE. -->

<apex:page showHeader="false" sidebar="false">
<html>
<head>
<title>SuMo Promotions</title>
<style>
body { margin:0px; padding:5px; overflow:hidden; background-color:#D1EEF9; }
.OuterTABLE { height:100px; width:100%; margin-top:0px; border-spacing:0; background-color:#D1EEF9; }
</style>
</head>
<body style="overflow:hidden;overflow-x:hidden;overflow-y:hidden;height:100%;width:100%;position:absolute;top:0px;left:0px;right:0px;bottom:0px">
<p style="margin-top:0px; margin-bottom:0px;">
<table class="OuterTABLE">
<tr>
<td width="100%">
<p style="margin-top:0px; margin-bottom:-5px;"><iframe src="/apex/success__SidebarPromotions" frameborder="no" style="height:100%;width:100%;" scrolling="no"></iframe></p>
</td>
</tr>
<!--<tr>
<td style="margin-top:5px; vertical-align:middle;">
<p style="margin-top:-10px;"><iframe src="/apex/success__SidebarPromotions" frameborder="no" style="height:100px;width:100%;" scrolling="no"></iframe></p>
</td>
</tr>-->
<tr>
<td style="margin-top:-20px;">
<p style="margin-top:3px"><iframe src="/apex/success__SidebarRewards" frameborder="no" style="height:100%;width:100%;" scrolling="no"></iframe></p>
</td>
</tr>
</table>
</p>
</body>
</html>
</apex:page>