<apex:page controller="VATRiders" cache="false" sidebar="false" showHeader="false">

     <apex:image url="{!$Resource.VattLogo2}"/>
   <BR/>

  <!-- Begin Default Content REMOVE THIS -->
  <h1>QlikTech does the Vatternrundan</h1>
  <BR/>
  <BR/>
    
  To help us reach our target for sponsorship please donate via <a href="http://www.justgiving.com/Qlikviewvatternundan2011">QTVatternrundan</a>
  
  <BR/>
  <BR/>
  
  To Track a riders progress simply copy their number and paste it into this  <a href="http://admin.cyklavaettern.com/results/search.aspx?compid=1&LangId=en">Link</a>
   <BR/>
   <BR/>

  
  View the <apex:outputLink value="{!$Site.Prefix}/apex/VatBlog"> BLOG HERE </apex:outputLink>, to include last years blog please use  <apex:outputLink value="{!$Site.Prefix}/apex/VatBlog?year=2010"> THIS </apex:outputLink> link

  <BR/>
  <BR/>
    
  <H1>The riders are:</H1>
    <apex:form >
        <apex:pageBlock >
            <apex:pageBlockTable value="{!Riders}" var="r">
                <apex:column headerValue="Name">
                    <apex:outputLink value="{!$Site.Prefix}/apex/vatriderdetail?id={!r.id}"> {!r.name} </apex:outputLink>
                </apex:column>
                <apex:column headerValue="Number">
                    {!r.Number__c}
                </apex:column>
                <apex:column headerValue="Representing">
                    <apex:outputField value="{!r.Representing__c}"/> 
                </apex:column>
<!--                <apex:column headerValue="Training Distance (since April)">
                    <apex:outputField value="{!r.Total_Distance_km__c}"/> 
                </apex:column>  -->
                <apex:column headerValue="Bike Details">
                    <apex:outputField value="{!r.Bike__c}"/> 
                </apex:column>
                <apex:column headerValue="Bike Link">
                    <apex:outputField value="{!r.Bike_Link__c}"/> 
                </apex:column>
                
            </apex:pageBlockTable>
        </apex:pageBlock>
    </apex:form>
</apex:page>