<apex:component allowDML="true" controller="EP_PartnerExpertiseController">
    <apex:includescript value="https://login.qlik.com/external/prm/css/partnerportal.css"/>
    <div class="clearfix">
        <div class="nowrap">
            <!--apex:outputLink styleClass="litebluearrow" value="/apex/ppQlikPartnerNetwork?SubPage=PEP">{!$Label.QVM_PB_Preview_Return_to_Expertise_Program}</apex:outputLink><br/><br/-->
			<apex:outputLink styleClass="litebluearrow" value="/apex/QlikExpertiseProgram">{!$Label.QVM_PB_Preview_Return_to_Expertise_Program}</apex:outputLink><br/><br/>
            <!--apex:outputlink styleClass="litebluearrow" value="/{!AccountId}">Return to Account</apex:outputlink><br/><br/-->
        </div>
        <apex:outputText id="ConfirmationMessages1" rendered="{!IF(ExpertiseAreaAppStatus=='Accepted',true,false)}">
        <div>
            <p><br/>
            Thank you for your interest in the Expertise Program! <br/><br/>Your application has been accepted.<br/><br/>The next step in the process are:<br/><br/>-Complete four (4) solution profiles which demonstrate your expertise in the area you are applying for. Click&nbsp;<apex:outputLink value="/apex/EP_SolutionProfilePage?&expertId={!PartnerExpertiseArea.Id}&acc={!PartnerAccount.id}&stepNumber=1" id="theLink1">here</apex:outputLink> if you are ready to begin this step <br/><br/> - Submit your Qlik Market solution that demonstrates the area of expertise you are applying for. Click&nbsp; <apex:outputLink value="/apex/EP_MarketExpertisePage?varAccountId={!PartnerAccount.id}" id="theLink2">here</apex:outputLink> if you are ready to begin this step. <br/><br/> If you will be completing these steps later, we recommend you bookmark the main&nbsp;<apex:outputLink value="/apex/QlikExpertiseProgram" id="theLink3">Expertise Program</apex:outputLink> page where you can continue the process and track your status.
            </p>
        </div>
        </apex:outputText>
        <apex:outputText id="ConfirmationMessages2" rendered="{!IF(ExpertiseAreaAppStatus=='Under Review',true,false)}">
        <div>
            <p><br/>
            Thank you for your interest in the Expertise Program! <br/><br/> Your application is currently under review and you will receive an email confirmation within 5 business days with your approval status and instructions on next steps.
            </p>
        </div>
        </apex:outputText>
    </div>
    <apex:pageBlock id="expertArea" title="Create an Expertise Area">
    <apex:pageMessages />
    <apex:pageBlockButtons location="top">
        <apex:commandButton value="Save" action="{!save}"/>
        <apex:commandButton action="{!cancel}" immediate="true" value="Cancel"/>
    </apex:pageBlockButtons>
    
    

    <apex:pageblockSection >
    <apex:outputField value="{!PartnerAccount.Name}" />  
    <apex:pageBlockSectionItem > 
        <apex:outputLabel value="Dedicated Expertise Contact" for="ExpertiseContact" style="font-weight:bold;"/>
        <apex:outputPanel styleClass="requiredInput" layout="block"> 
        <apex:outputPanel styleClass="requiredBlock" layout="block"/>    
        <apex:selectList value="{!DedicatedContact}" id="ExpertiseContact" size="1" required="true" >
            <apex:selectOptions value="{!ExpertiseContacts}" ></apex:selectOptions>
            
        </apex:selectList> 
        </apex:outputPanel> 
    </apex:pageBlockSectionItem>
    <apex:pageBlockSectionItem >
		<apex:outputLabel value="Expertise Area"/>
        <apex:selectList value="{!ExpertiseAreaSector}" multiselect="false" size="1" style="width: 200px;" rendered="true">
            <apex:selectOptions value="{!ExpertiseSectorOptions}"/>
        </apex:selectList>
	</apex:pageBlockSectionItem>    
    </apex:pageblockSection>
    
</apex:pageBlock>
    <div style="padding:5px;"><p>Don't see somebody? Contact our <apex:outputLink value="https://login.qlik.com/external/support.aspx?u=https://qliksupport.force.com/QS_CaseWizard" target="_blank"> Qoncierge</apex:outputLink> team for help.</p></div>
</apex:component>