<apex:component allowDML="true">
<apex:attribute name="pkbCon" type="pkb_Controller" required="true" description="handle to the pkb controller" />
<apex:variable var="atLeastOne" value="false" />

  <div id="featuredArticles">
    <h1>{!$Label.PKB2_Featured_Articles}</h1> <!-- changed to H1 and removed class, SWN -->
    <apex:repeat var="a" value="{!pkbCon.featuredKads}">
      <c:pkb_article pkbCon="{!pkbCon}" 
        aid="{!a.id}"
        title="{!a.title}"
        summary="{!a.summary}"
        urlName="{!a.urlName}"
        articleTypeName="{!a.articleTypeName}"
        articleTypeLabel="{!a.articleTypeLabel}"
        lastModifiedDate="{!a.lastModifiedDate}"
        firstPublishedDate="{!a.firstPublishedDate}"
        lastPublishedDate="{!a.lastPublishedDate}"
        articleNumber="{!a.articleNumber}"
      />
      <apex:variable var="atLeastOne" value="true" />
      <script type="text/javascript">atLeastOneFeatured = {!atLeastOne};</script>
    </apex:repeat>
  </div>
  <script type="text/javascript">hideFeatured();</script>      

</apex:component>