<apex:component allowDML="true">
<apex:attribute name="pkbCon" type="pkb_Controller" required="true" description="handle to the pkb controller" />

<apex:variable var="typeName" value="{!SUBSTITUTE(pkbCon.theKad.articleTypeName, pkbCon.kavExtension, '')}" />
<apex:variable var="articleURL" value="{!$Site.CurrentSiteUrl}articles{!pkbCon.selectedLanguageURL}{!typeName}/{!pkbCon.theKad.urlName}" />

<!-- 
<div style="position: relative; right: -30px;">
  <div class="icon" style="position: relative; bottom: 2px; right: 20px;">
-->

  <div class="icon">
    <!-- GOOGLE PLUS (HTML5 only) -->
    <div class="g-plusone" 
         data-size="small" 
         data-count="true"></div>
    <script type="text/javascript" src="https://apis.google.com/js/plusone.js"></script>
  </div>

  <div class="icon" style="margin-top: -2px; margin-right: -1px;">
    <!-- FACEBOOK -->
    <iframe src="https://www.facebook.com/plugins/like.php?app_id=139593179453028&href={!articleURL}&send=false&layout=button_count&width=54&show_faces=false&action=like&colorscheme=light&height=24" 
            scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:78px; height: 24px;" allowTransparency="true"></iframe>
  </div>
<!-- Removed by Qlik
  <div class="icon">
    <!-- RSS -->
<!-- Removed by Qlik    <a href="{!$Page.pkb_RSS}?id={!pkbCon.theKad.id}" target="_new" title="{!$Label.PKB2_Subscribe_Article_Feed}"><apex:image url="{!URLFOR($Resource.pkb_icons, 'rss.png')}" /></a>
  </div>
-->

  <div class="icon">
    <!-- TWITTER -->
    <a href="https://twitter.com/share" 
      target="_new"
      title="{!$Label.PKB2_Tweet_This}"
      class="twitter-share-button"
      data-text="{!pkbCon.theKad.title}"
      data-url="{!articleURL}"
      data-count="none"><apex:image url="{!URLFOR($Resource.pkb_icons, 'twitter.png')}" /></a>
  </div>

  <div class="icon">
    <!-- PRINT -->
    
<!-- Removed by Qlik    <a href="javascript:openPopupFocus('{!articleURL}/p?pubstatus=o', 'PrintableView', 800, 600, 'width=800,height=600,resizable=yes,toolbar=no,status=no,scrollbars=yes,menubar=yes,directories=no,location=no,dependant=no', false, false);" title="{!$Label.PKB2_Printable_View}"><apex:image url="{!URLFOR($Resource.pkb_icons, 'print.png')}" /></a> -->
<!-- Row added by Qlik --> <a href="{!articleURL}" target="_blank" title="{!$Label.PKB2_Printable_View}"><apex:image url="{!URLFOR($Resource.pkb_icons, 'print.png')}" /></a>
  </div>

  <div class="icon">
    <!--  EMAIL -->
    <a href="mailto:?subject=Article%20Title:%20{!SUBSTITUTE(URLENCODE(pkbCon.theKad.title),'+','%20')}&body=Article%20URL:%20{!articleURL}"><apex:image url="{!URLFOR($Resource.pkb_icons, 'email.png')}" title="{!$Label.PKB2_Email_Article}" /></a>
  </div>   


</apex:component>