<apex:component ><div id="search" class="CoveoBox" data-design="new" data-pipeline="Agent">
  <div class="CoveoAnalytics">
  </div>
  <div class="coveo-box-query-section">
    <div class="CoveoBoxQuerySome" data-include="Subject" data-match="3">
    </div>
  </div>
  <div class="CoveoBoxHeader" data-open-sub-section-by-default="false" data-enable-wildcards="true" data-enable-question-marks="true" data-allow-non-contextual-search="true">
    <div class="CoveoShareQuery">
    </div>
    <div class="CoveoPreferencesPanel">
      <div class="CoveoResultsPreferences">
      </div>
      <div class="CoveoResultsFiltersPreferences">
      </div>
    </div>
    <div class="coveo-box-popups-section">
      <div class="coveo-tab-section coveo-inline-tab-section">
        <a class="CoveoTab" data-id="All" data-caption="All" data-expression="NOT @syssource=Jive NOT @objecttype=(User)">
        </a>
        <a class="CoveoTab" data-id="KB" data-caption="KB" data-expression="@syssource=(kb,knowledge)">
        </a>
        <a class="CoveoTab" data-id="Cases" data-caption="Cases" data-expression="@syssource=(&quot;Cases&quot;) NOT @objecttype=(User)">
        </a>
        <a class="CoveoTab" data-id="QlikHelp" data-caption="Qlik Help" data-expression="@syssource=(&quot;qlik help&quot;)">
        </a>
        <a class="CoveoAttachedResultsTab" data-id="AttachedResults" data-caption="Attached results">
        </a>
        <div class="CoveoBoxPopup" data-hidden="true" data-full-height="true" data-full-width="true" data-title="Facets">
          <div class="coveo-box-facet-column">
            <div class="CoveoFacet" data-title="Type" data-field="@objecttype" data-tab="All">
            </div>
            <div class="CoveoFacet" data-title="FileType" data-field="@filetype" data-tab="All">
            </div>
            <div class="CoveoFacet" data-title="Author" data-field="@author" data-tab="All">
            </div>
            <div class="CoveoFacet" data-title="Year" data-field="@year" data-tab="All">
            </div>
            <div class="CoveoFacet" data-title="Month" data-field="@month" data-tab="All">
            </div>
          </div>
        </div>
        <div class="CoveoBoxPopup" data-hidden="true">
          <div class="CoveoBoxCurrentSort">
          </div>
          <div class="coveo-sort-section">
            <span class="CoveoSort" data-sort-criteria="relevancy" data-caption="Relevance">
            </span>
            <span class="CoveoSort" data-sort-criteria="date descending,date ascending" data-caption="Date">
            </span>
          </div>
        </div>
      </div>
      <div style="padding-top: 19px;">
        Initial results are filtered using Case Fields (Subject  Description) for the contextual query.
      </div>
      <div class="coveo-box-settings">
        <a class="CoveoBoxExpandLink" target="_blank" data-uri="/apex/QlikAgentSearch" data-title="Full Search Page">
        </a>
        <a class="CoveoBoxEditLink" target="_top">
        </a>
        <a class="CoveoBoxCreateArticle" target="_blank">
        </a>
      </div>
      <div class="CoveoBoxQuerySummary">
      </div>
    </div>
  </div>
  <div class="CoveoTriggers">
  </div>
  <div class="CoveoBreadcrumb">
  </div>
  <div class="CoveoDidYouMean">
  </div>
  <div class="CoveoErrorReport">
  </div>
  <div class="CoveoFolding" data-field="@foldFoldingField" data-parent-field="@foldParentField" data-child-field="@foldChildField" data-expand-expression="@objecttype==(casecomment,feeditem)" data-rearrange="date descending">
      </div>
  <div class="CoveoBoxBody">
    <script type="text/html" data-condition="raw.syssource.toLowerCase() == &quot;kb&quot; || raw.syssource.toLowerCase() == &quot;knowledge&quot; || raw.syssource.toLowerCase() == &quot;cases&quot;" class="result-template" id="SFDC results">
    <div class="coveo-result-frame">  <div class="coveo-result-row">    <div class="coveo-result-cell coveo-no-wrap" style="vertical-align: middle">      <span class="CoveoIcon" data-small="true"></span>      <a class="CoveoSalesforceResultLink" data-open-in-primary-tab="true"></a>      </div>    <div class="coveo-result-cell" style="text-align:right; padding-right:5px; width:124px;vertical-align: middle;font-size:12px;">      <span class="CoveoAttachToCase" data-display-text="false"></span>      <span class="CoveoFieldValue summaryinfo" data-field="@date" data-helper="dateTime" data-html-value="false"></span>      </div>    <div class="coveo-result-cell" style="width:20px; vertical-align:middle; text-align:right">      <div class="CoveoBoxResultAction">        <div class="CoveoBoxAttachToCase"></div>      </div>      </div>      </div>  <div class="coveo-result-row">    <div class="coveo-result-cell coveo-no-wrap"><div class="CoveoQuickview"></div>
<span class="CoveoExcerpt"></span></div>      </div>      </div>      </script>
    <script id="Default" class="result-template" type="text/html">
<div class="coveo-result-frame">
  <div class="coveo-result-row">
    <div class="coveo-result-cell coveo-no-wrap" style="vertical-align: middle">
      <span class="CoveoIcon" data-small="true"></span>
      <a class="CoveoSalesforceResultLink" data-open-in-primary-tab="false" data-always-open-in-new-window="true"></a>
      </div>
    <div class="coveo-result-cell" style="text-align:right; padding-right:5px; width:124px;vertical-align: middle;font-size:12px;">
      <span class="CoveoAttachToCase" data-display-text="false"></span>
      <span class="CoveoFieldValue summaryinfo" data-field="@date" data-helper="dateTime"></span>
      </div>
    <div class="coveo-result-cell" style="width:20px; vertical-align:middle; text-align:right">
      <div class="CoveoBoxResultAction">
        <div class="CoveoBoxAttachToCase"></div>
      </div>
      </div>
      </div>
  <div class="coveo-result-row">
    <div class="coveo-result-cell coveo-no-wrap">
      <span class="CoveoExcerpt"></span>
      </div>
      </div>
      </div></script>
  </div>
  <script type="text/x-query-generic" class="CoveoBoxQueryGeneric">
  </script>
  <div class="CoveoAnalyticsSuggestions">
  </div>
  <div class="CoveoBoxQuerySome">
  </div>
</div>
</apex:component>