<!--************************************************************
* 2019-05-05 AIN IT-1597 Created for Support Portal Redesign
*************************************************************-->
<apex:component controller="QS_PageTemplateRefController">
    <apex:attribute name="topController" type="QS_PageTemplateController" assignTo="{!QS_PageTemplateController}" description="Main page Controller"/>
    <section class="authenticated-user">
        <div class="wrapper">
            <div class="user"><apex:image id="profileImage1" value="{!IF(Isblank(QS_PageTemplateController.UserprofilePic),$Resource.QS_Qliklogo,QS_PageTemplateController.UserprofilePic)}"/><span>Welcome {!QS_PageTemplateController.FirstNameTrunc}</span></div>
            <div>
                <ul>
                    <li><a href="{!$Page.QS_ContactUs}"><span class="icon-c_docs"></span><span>Submit a case</span></a></li>
                        <li><a href="{!$Page.QS_CaseListPage}"><span class="cases">{!QS_PageTemplateController.caseListSize2}</span><span>Awaiting Action</span></a></li>
                        <li class="usertour-link"><a href="javascript:void(0);"><span class="icon-c_laptop"></span><span>Start Tour</span></a></li>
                    <li>
                        <a href="">
                            <span class="icon-c_logout"></span>
                            <span>
                                <apex:outputLink value="/secur/logout.jsp" rendered="{!NOT(ISPICKVAL($User.UserType,'Guest'))}">Logout</apex:outputLink>
                            </span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </section>
</apex:component>