<!--************************************************************
* 2019-05-05 AIN IT-1597 Updated for Support Portal Redesign
*************************************************************-->
<apex:component layout="none"><div id="QlikCommunitySearchVA" class="CoveoSearchInterface" data-enable-history="true" data-design="new">
  <div class="CoveoAnalytics">
  </div>
  <div class="coveo-top-section">
    <div class="coveo-search-section">
      <div class="CoveoSearchbox" data-enable-omnibox="true" data-placeholder="SEARCH">
      </div>
    </div>
    <div class="coveo-tab-section">
      <a class="CoveoTab" data-id="All" data-caption="All Content" data-expression="NOT @objecttype=(CaseComment,User,Internal_Case_Comment__c,FeedItem,FeedComment) NOT @objecttype=user NOT @source=users">
      </a>
      <a class="CoveoTab" data-id="Knowledge" data-caption="Knowledge" data-expression="NOT @objecttype=user @source=(kb,knowledge)">
      </a>
      <a class="CoveoTab" data-id="Community" data-caption="Community" data-expression="@source==jive">
      </a>
      <a class="CoveoTab" data-id="Help" data-caption="Qlik Help" data-expression="@source=&quot;qlik help&quot;">
      </a>
    </div>
  </div>
  <div class="coveo-main-section">
    <div class="coveo-facet-column">
      <div class="CoveoFacet" data-title="Product" data-field="@commonproductname" data-is-multi-value-field="true" data-enable-collapse="false">
      </div>
      <div class="CoveoFacet" data-title="Version" data-field="@commonproductversion" data-is-multi-value-field="true" data-enable-collapse="false" data-tab="Help,Community">
      </div>
      <div class="CoveoFacet" data-title="Language" data-field="@commonlanguage" data-enable-settings="false">
      </div>
      <div class="CoveoFacet" data-title="Year" data-field="@year" data-enable-settings="false">
      </div>
    </div>
    <div class="coveo-results-column">
      <div class="CoveoShareQuery">
      </div>
      <div class="CoveoPreferencesPanel">
        <div class="CoveoResultsPreferences">
        </div>
        <div class="CoveoResultsFiltersPreferences">
        </div>
      </div>
      <div class="CoveoTriggers">
      </div>
      <div class="CoveoBreadcrumb">
      </div>
      <div class="CoveoSearchAlerts">
      </div>
      <div class="coveo-results-header">
        <div class="coveo-summary-section">
          <span class="CoveoQuerySummary">
          </span>
          <span class="CoveoQueryDuration">
          </span>
        </div>
        <div class="coveo-sort-section">
          <span class="CoveoSort" data-sort-criteria="relevancy" data-caption="Relevance">
          </span>
          <span class="CoveoSort" data-sort-criteria="date descending,date ascending" data-caption="Date">
          </span>
        </div>
      </div>
      <div class="CoveoHiddenQuery">
      </div>
      <div class="CoveoDidYouMean">
      </div>
      <div class="CoveoErrorReport" data-pop-up="false">
      </div>
      <div class="CoveoResultList" data-wait-animation="fade" data-auto-select-fields-to-include="true">
      <script id="Community" class="result-template" data-condition="raw.source==&quot;Jive&quot;" type="text/x-underscore-template">
          <%
            //UI 17 and 32
            var answer = raw.jiveanswer ? raw.jiveanswer.toLowerCase() : '';
            var helpful = raw.jivehelpful ? raw.jivehelpful.toLowerCase() : '';
            var isDiscussion = raw.filetype == 'csdiscussion' || raw.filetype == 'csmessage';
            var isDiscussionAnswered = true;
            var iconCss = '';
            if(raw.filetype == 'csidea') {
              iconCss += 'coveo-jive-icon fa fa-lightbulb-o jive-idea';
            }
            else if(raw.filetype == 'csdocument' || raw.filetype == 'cscomment') {
              iconCss += 'coveo-jive-icon fa fa-file-text-o jive-document';
            }
            else if(raw.filetype == 'csblogpost') {
              iconCss += 'coveo-jive-icon fa fa-file-image-o jive-blogpost';
            }
            else if(raw.filetype == 'cspoll') {
              iconCss += 'coveo-jive-icon fa fa-signal jive-pool';
            }
            else if(isDiscussion) {
              if(answer.length > 0 && answer !== 'false') {
                iconCss = 'coveo-jive-icon fa fa-check-square icon-community-discussion-answered';
                isDiscussionAnswered = true;
              }
              else {
                iconCss = 'fa fa-question fa-stack-1x icon-community-discussion'; 
                isDiscussionAnswered=false;  
              }    
            }
            else {
              iconCss+= 'CoveoIcon';
            }  
          %>
          <div class="coveo-result-frame JiveTemplate">
            <div class="coveo-result-row">
              <div class="coveo-result-cell icon-cell" style="width:85px;text-align:center;padding-top:7px;">
              <!-- UI 17 -->
                <% if(!isDiscussionAnswered) { %>
                  <span class="fa-stack icon-community-discussion">
                    <i class="fa fa-square fa-stack-2x icon-community-discussion" aria-hidden="true"></i>
                <% } %>
                    <i class="<%-iconCss%>" aria-hidden="true"></i>
               <% if(!isDiscussionAnswered) { %>
          </span> 
               <% } %>
               <!-- END UI 17 -->
          </div>
              <div class="coveo-result-cell" style="padding-left:15px;">
                <div class="coveo-result-row">
                  <div class="coveo-result-cell" style="font-size:18px;">
                    <a class="CoveoResultLink" target="_blank"></a>
          </div>
          </div>
                <div class="coveo-result-row">
                  <div class="coveo-result-cell">
                    <span class="CoveoExcerpt"></span>
                    <div class="coveo-community-rating">
                      <span class="coveo-reply-count-wrapper">
                        <i class="fa fa-comments" aria-hidden="true"></i><span><%-raw.jivereplycount || 0%></span>
          </span>
                      <span class="coveo-like-count-wrapper">
                        <i class="fa fa-thumbs-o-up" aria-hidden="true"></i><span><%-raw.jivelikecount || 0%></span>
          </span>
                      <span class="coveo-view-count-wrapper">
                        <i class="fa fa-eye" aria-hidden="true"></i><span><%-raw.jiveviewcount || 0%></span>
          </span>
          </div>
          </div>
          </div>
                <div class="coveo-result-row">
                  <div class="coveo-result-cell" style="font-size:13px;">
          </div>
                <div class="coveo-result-cell" style="width:100%; text-align:right; font-size:13px">
                  <div class="coveo-result-row">
                    <div class="tableau-result-links-section">
                      <div class="CoveoQuickview"><span>Quick View</span></div>
          </div>
          </div>
          </div>
          </div>
              <% if (raw.jivereplycount > 0 || childResults.length > 0) { %>
              <div class="coveo-result-row">
                <div class="coveo-result-cell" style="font-size:13px">
                    <span class="CoveoResultFolding" data-result-template-id="JiveChildResult" data-one-result-caption="Displaying the only reply/attachment in this discussion" data-normal-caption="Most Relevant Replies and Attachments" data-expanded-caption="All Replies and Attachments" data-more-caption="Show More Replies and Attachments"                               data-less-caption="Show Only Top Relevant Replies and Attachments"></span>
          </div>
          </div>
              <% } %>
          </div>
          </div>
        </script>
        <script type="text/underscore" data-condition="raw.source.toLowerCase() == &quot;kb&quot; || raw.source.toLowerCase() == &quot;salesforce knowledge&quot;" class="result-template" id="Knowledge">
<div class="coveo-result-frame">  <div class="coveo-result-row">    <div class="coveo-result-cell" style="width:85px;text-align:center;padding-top:7px;">      <span class="CoveoIcon">          </span>          </div>    <div class="coveo-result-cell" style="padding-left:15px;">      <div class="coveo-result-row">        <div class="coveo-result-cell" style="font-size:13px; font-weight:bold;">          <a class="CoveoResultLink" data-always-open-in-new-window="true" href="<%='/QS_CaseWizardKnowledgeArticle?id=' + raw.sfkbid%>"  target="_blank">          </a>          </div>        <div class="coveo-result-cell" style="width:120px; text-align:right; font-size:12px">          <span class="CoveoFieldValue" data-field="@date" data-helper="date">          </span>          </div>          </div>      <div class="coveo-result-row">        <div class="coveo-result-cell">          <span class="CoveoExcerpt">          </span>          </div>          </div>          </div>          </div>  <div class="coveo-result-row">          </div>          </div>              </script>
        <script type="text/underscore" data-condition="raw.source.toLowerCase() == &quot;service cases&quot; || raw.source.toLowerCase() == &quot;salesforce cases&quot;" class="result-template" id="cases">
<div class="coveo-result-frame">  <div class="coveo-result-row">    <div class="coveo-result-cell" style="width:85px;text-align:center;padding-top:7px;">      <span class="CoveoIcon">          </span>          </div>    <div class="coveo-result-cell" style="padding-left:15px;">      <div class="coveo-result-row">        <div class="coveo-result-cell" style="font-size:13px; font-weight:bold;">          <a class="CoveoResultLink" data-always-open-in-new-window="true" href="<%='/QS_CaseDetails?caseId=' + raw.sfcaseid%>" target="_blank">          </a>          </div>        <div class="coveo-result-cell" style="width:120px; text-align:right; font-size:12px">          <span class="CoveoFieldValue" data-field="@date" data-helper="date">          </span>          </div>          </div>      <div class="coveo-result-row">        <div class="coveo-result-cell">          <span class="CoveoExcerpt">          </span>          </div>          </div>          </div>          </div>  <div class="coveo-result-row">          </div>          </div>              </script>
        <script id="Default" class="result-template" type="text/html">
<div class="coveo-result-frame">
  <div class="coveo-result-row">
    <div class="coveo-result-cell" style="width:85px;text-align:center;padding-top:7px;">
      <span class="CoveoIcon">
          </span>
          </div>
    <div class="coveo-result-cell" style="padding-left:15px;">
      <div class="coveo-result-row">
        <div class="coveo-result-cell" style="font-size:13px; font-weight:bold;">
          <a class="CoveoResultLink" data-always-open-in-new-window="true">
          </a>
          </div>
        <div class="coveo-result-cell" style="width:120px; text-align:right; font-size:12px">
          <span class="CoveoFieldValue" data-field="@date" data-helper="date">
          </span>
          </div>
          </div>
      <div class="coveo-result-row">
        <div class="coveo-result-cell">
          <span class="CoveoExcerpt">
          </span>
          </div>
          </div>
          </div>
          </div>
  <div class="coveo-result-row">
          </div>
          </div>
        </script>
        <script id="JiveChildResult" class="result-template" type="text/x-underscore-template">
          <%
            //UI 17 and 32
            var answer = raw.jiveanswer ? raw.jiveanswer.toLowerCase() : '';
            var helpful = raw.jivehelpful ? raw.jivehelpful.toLowerCase() : '';
            var isDiscussion = raw.filetype == 'csdiscussion' || raw.filetype == 'csmessage';
            var iconCss = '';
            var isDiscussionAnswered = true;
            var isAttachment = raw.documenttype === 'attachment';
            if(isDiscussion) {
              if(answer == 'true') {
                iconCss = 'coveo-jive-icon fa fa-check-square icon-community-discussion-answered';
                isDiscussionAnswered = true;
              }
              else {
                iconCss = 'fa fa-question fa-stack-1x icon-community-discussion'; 
                isDiscussionAnswered=false;  
              }  
            }
            else if(isAttachment){
              iconCss += 'coveo-jive-icon fa fa-paperclip';
            }
            else {
              iconCss += 'coveo-jive-icon fa fa-comment  jive-comment';
            }
          %>
          <div class="coveo-result-frame">
            <div class="coveo-result-row">
              <div class="coveo-result-cell" style="width:30px;text-align:center">
              <!-- UI 17 -->
                <% if(!isDiscussionAnswered) { %>
                  <span class="fa-stack icon-community-discussion">
                    <i class="fa fa-square fa-stack-2x icon-community-discussion" aria-hidden="true"></i>
                <% } %>
                    <i class="<%-iconCss%>" aria-hidden="true"></i>
               <% if(!isDiscussionAnswered) { %>
          </span> 
               <% } %>
               <!-- END UI 17 -->
          </div>
            <div class="coveo-result-cell">
          <% if(!isAttachment){%>
              <div class="coveo-result-row">
                <div class="coveo-result-cell coveo-comment-header">
                  <span class="coveo-comment-from"> From:
                    <span class="CoveoFieldValue" data-field="@author"></span>
                    <% if (helpful === 'true') { %>
                      <span class="jive-badge jive-status" style="display:none">Helpful</span>
                    <% } %>
          </span>
          </div>
                <div class="coveo-result-cell coveo-date" style="width:120px; text-align:right;">
                  <span class="CoveoFieldValue" data-field="@sysdate" data-helper-options-predefined-format="dd MMM yyyy" data-helper="date"></span>
          </div>
          </div>
          <% } %>
              <div class="coveo-result-row">
                <div class="coveo-result-cell">
                  <a class="CoveoResultLink" target="_blank">
                  <% if(isAttachment){%>
                    <%-Title %>
                  <% } else { %>
                    <span class="CoveoExcerpt"></span>
                    <% } %>
          </a>
          </div>
          </div>
              <div class="coveo-result-row">
                <div class="coveo-result-cell">
                  <span class="CoveoChatterLikedBy" data-nb-likes-to-render="1"></span>
          </div>
          </div>
              <div class="coveo-result-row">
                <div class="coveo-result-cell">
                  <span class="CoveoChatterPostAttachment"></span>
          </div>
          </div>
          </div>
          </div>
          </div>
        </script>
      </div>
      <div class="CoveoPager">
      </div>
      <div class="CoveoLogo">
      </div>
    </div>
  </div>
  <div class="CoveoFoldingForThread" data-field="@foldfoldingfield" data-parent-field="@foldparentfield" data-child-field="@foldchildfield" data-range="2" data-maximum-expanded-results="5">
  </div>
</div>
</apex:component>