<!--************************************************************
* 2019-05-05 AIN IT-1597 Updated for Support Portal Redesign
*************************************************************-->
<apex:component controller="QS_Unauthenticated_Chatter_Controller" layout="none">

  <!-- announcement section to be displayed at the top of the home page -->
<!--  <apex:outputPanel rendered="{!announcement != null}">
      <div class="qs-module">
          <div class="qs-news-highlight">            
             <p class="qs-announcementtitle"><a href="{!announcement.Link__c}">{!announcement.Title__c}</a></p>
             <!-- <p class="qs-postedby">Posted by <b>{!announcement.Posted_By__c}</b></p>  -- >
              <p class="qs-announcement"><apex:outputText escape="false" value="{!announcement.Body__c}" /></p>             
          </div>
      </div>
  </apex:outputPanel> -->
  
    <div class="qs-module qs-chatterfeed">
  <!-- Chatter feed to be displayed for authenticated users -->
  <!-- <chatter:newsfeed rendered="{!!unauthenticated}"/> -->
  <!--<chatter:newsfeed rendered="{!!unauthenticated}" id="chatterFeedComponent"/>-->
  
  <apex:outputPanel rendered="{!!unauthenticated}">
   <chatter:feed entityid="{!$User.Id}"/>
        <apex:repeat value="{!groupFeedList}" var="groupFeed">
        
            <div class="qs-item">                   
                    <p class="qs-title">     
                        <img id="profileImage" src="{!groupFeed.createdUser.SmallPhotoUrl}" width="35" height="35"/> 
                        <a href="">{!groupFeed.feedTitle}</a>
                    </p>
                    <p class="qs-postedby"> 
                          Posted by <b>{!groupFeed.createdUser.Name} </b>
                                <apex:outputText value="{0,date, medium}">
                                    <apex:param value="{!groupFeed.publishedDate}" />
                                </apex:outputText>
                    </p>
                    <p>
                    <apex:outputText escape="false" value="{!groupFeed.feedBody}" />
                    </p>
            </div>
        </apex:repeat>
    </apex:outputPanel>

   <!-- Panel to be displayed for unauthenticated users -->
   <apex:outputPanel rendered="{!unauthenticated}">
        <apex:repeat value="{!groupFeedList}" var="groupFeed">
            <div class="qs-item">                   
                    <p class="qs-title">     
                        <img id="profileImage" src="{!groupFeed.createdUser.SmallPhotoUrl}" width="35" height="35"/> 
                        <a href="">{!groupFeed.feedTitle}</a>
                    </p>
                    <p class="qs-postedby"> 
                          Posted by <b>{!groupFeed.createdUser.Name} </b>
                                <apex:outputText value="{0,date, medium}">
                                    <apex:param value="{!groupFeed.publishedDate}" />
                                </apex:outputText>
                    </p>
                    <p>
                    <apex:outputText escape="false" value="{!groupFeed.feedBody}" />
                    </p>
            </div>
        </apex:repeat>
    </apex:outputPanel>
  </div>
</apex:component>